SELECT l.Id, idg.[IDG_FK__c] FROM [SalesforceReporting].[dbo].[IDG - Update - 26-08-2014]idg inner join Salesforce..Lead l ON idg.Id collate latin1_general_CS_AS = l.Id collate latin1_general_CS_AS WHERE l.Source__c <> 'IDG Aug 14' and (idg.IDG_FK__c is not null and idg.IDG_FK__c <> 0) and l.[Status] <> 'callback requested'
SELECT l.Id, idg.[MobilePhone] FROM [SalesforceReporting].[dbo].[IDG - Update - 26-08-2014]idg inner join Salesforce..Lead l ON idg.Id collate latin1_general_CS_AS = l.Id collate latin1_general_CS_AS WHERE l.Source__c <> 'IDG Aug 14' and (idg.MobilePhone is not null and idg.MobilePhone <> '') and l.[Status] <> 'callback requested'
SELECT l.Id, idg.[Other_Phone__c] FROM [SalesforceReporting].[dbo].[IDG - Update - 26-08-2014]idg inner join Salesforce..Lead l ON idg.Id collate latin1_general_CS_AS = l.Id collate latin1_general_CS_AS WHERE l.Source__c <> 'IDG Aug 14' and (idg.Other_Phone__c is not null and idg.Other_Phone__c <> '') and l.[Status] <> 'callback requested'
SELECT l.Id, idg.[Email] FROM [SalesforceReporting].[dbo].[IDG - Update - 26-08-2014]idg inner join Salesforce..Lead l ON idg.Id collate latin1_general_CS_AS = l.Id collate latin1_general_CS_AS WHERE l.Source__c <> 'IDG Aug 14' and (idg.Email is not null and idg.Email <> '') and l.[Status] <> 'callback requested'
SELECT l.Id, idg.[Website] FROM [SalesforceReporting].[dbo].[IDG - Update - 26-08-2014]idg inner join Salesforce..Lead l ON idg.Id collate latin1_general_CS_AS = l.Id collate latin1_general_CS_AS WHERE l.Source__c <> 'IDG Aug 14' and (idg.Website is not null and idg.Website <> '') and l.[Status] <> 'callback requested'
SELECT l.Id, idg.[FT_Employees__c] FROM [SalesforceReporting].[dbo].[IDG - Update - 26-08-2014]idg inner join Salesforce..Lead l ON idg.Id collate latin1_general_CS_AS = l.Id collate latin1_general_CS_AS WHERE l.Source__c <> 'IDG Aug 14' and (idg.FT_Employees__c is not null and idg.FT_Employees__c <> 0) and l.[Status] <> 'callback requested'
SELECT l.Id, idg.[PT_Employees__c] FROM [SalesforceReporting].[dbo].[IDG - Update - 26-08-2014]idg inner join Salesforce..Lead l ON idg.Id collate latin1_general_CS_AS = l.Id collate latin1_general_CS_AS WHERE l.Source__c <> 'IDG Aug 14' and (idg.PT_Employees__c is not null and idg.PT_Employees__c <> 0) and l.[Status] <> 'callback requested'
SELECT l.Id, idg.[Prospect_External_Id__c] FROM [SalesforceReporting].[dbo].[IDG - Update - 26-08-2014]idg inner join Salesforce..Lead l ON idg.Id collate latin1_general_CS_AS = l.Id collate latin1_general_CS_AS WHERE l.Source__c <> 'IDG Aug 14' and (idg.Prospect_External_Id__c is not null and idg.Prospect_External_Id__c <> '') and l.[Status] <> 'callback requested'
SELECT l.Id, idg.[Company] FROM [SalesforceReporting].[dbo].[IDG - Update - 26-08-2014]idg inner join Salesforce..Lead l ON idg.Id collate latin1_general_CS_AS = l.Id collate latin1_general_CS_AS WHERE l.Source__c <> 'IDG Aug 14' and (idg.Company is not null and idg.Company <> '') and l.[Status] <> 'callback requested'
SELECT l.Id, idg.[Street] FROM [SalesforceReporting].[dbo].[IDG - Update - 26-08-2014]idg inner join Salesforce..Lead l ON idg.Id collate latin1_general_CS_AS = l.Id collate latin1_general_CS_AS WHERE l.Source__c <> 'IDG Aug 14' and (idg.Street is not null and idg.Street <> '') and l.[Status] <> 'callback requested'
SELECT l.Id, idg.[City] FROM [SalesforceReporting].[dbo].[IDG - Update - 26-08-2014]idg inner join Salesforce..Lead l ON idg.Id collate latin1_general_CS_AS = l.Id collate latin1_general_CS_AS WHERE l.Source__c <> 'IDG Aug 14' and (idg.City is not null and idg.City <> '') and l.[Status] <> 'callback requested'
SELECT l.Id, idg.[PostalCode] FROM [SalesforceReporting].[dbo].[IDG - Update - 26-08-2014]idg inner join Salesforce..Lead l ON idg.Id collate latin1_general_CS_AS = l.Id collate latin1_general_CS_AS WHERE l.Source__c <> 'IDG Aug 14' and (idg.PostalCode is not null and idg.PostalCode <> '') and l.[Status] <> 'callback requested'
SELECT l.Id, idg.[Phone] FROM [SalesforceReporting].[dbo].[IDG - Update - 26-08-2014]idg inner join Salesforce..Lead l ON idg.Id collate latin1_general_CS_AS = l.Id collate latin1_general_CS_AS WHERE l.Source__c <> 'IDG Aug 14' and (idg.Phone is not null and idg.Phone <> '') and l.[Status] <> 'callback requested'
SELECT l.Id, idg.[IsTPS__c] FROM [SalesforceReporting].[dbo].[IDG - Update - 26-08-2014]idg inner join Salesforce..Lead l ON idg.Id collate latin1_general_CS_AS = l.Id collate latin1_general_CS_AS WHERE l.Source__c <> 'IDG Aug 14' and (idg.IsTPS__c is not null and idg.IsTPS__c <> '') and l.[Status] <> 'callback requested'
SELECT l.Id, idg.[Total_Employees__c] FROM [SalesforceReporting].[dbo].[IDG - Update - 26-08-2014]idg inner join Salesforce..Lead l ON idg.Id collate latin1_general_CS_AS = l.Id collate latin1_general_CS_AS WHERE l.Source__c <> 'IDG Aug 14' and (idg.Total_Employees__c is not null and idg.Total_Employees__c <> 0) and l.[Status] <> 'callback requested'
SELECT l.Id, idg.[Title] FROM [SalesforceReporting].[dbo].[IDG - Update - 26-08-2014]idg inner join Salesforce..Lead l ON idg.Id collate latin1_general_CS_AS = l.Id collate latin1_general_CS_AS WHERE l.Source__c <> 'IDG Aug 14' and (idg.Title is not null and idg.Title <> '') and l.[Status] <> 'callback requested'
SELECT l.Id, idg.[FirstName] FROM [SalesforceReporting].[dbo].[IDG - Update - 26-08-2014]idg inner join Salesforce..Lead l ON idg.Id collate latin1_general_CS_AS = l.Id collate latin1_general_CS_AS WHERE l.Source__c <> 'IDG Aug 14' and (idg.FirstName is not null and idg.FirstName <> '') and l.[Status] <> 'callback requested'
SELECT l.Id, idg.[LastName] FROM [SalesforceReporting].[dbo].[IDG - Update - 26-08-2014]idg inner join Salesforce..Lead l ON idg.Id collate latin1_general_CS_AS = l.Id collate latin1_general_CS_AS WHERE l.Source__c <> 'IDG Aug 14' and (idg.LastName is not null and idg.LastName <> '') and l.[Status] <> 'callback requested'
SELECT l.Id, idg.[Position__c] FROM [SalesforceReporting].[dbo].[IDG - Update - 26-08-2014]idg inner join Salesforce..Lead l ON idg.Id collate latin1_general_CS_AS = l.Id collate latin1_general_CS_AS WHERE l.Source__c <> 'IDG Aug 14' and (idg.Position__c is not null and idg.Position__c <> '') and l.[Status] <> 'callback requested'
SELECT l.Id, idg.[Email2] FROM [SalesforceReporting].[dbo].[IDG - Update - 26-08-2014]idg inner join Salesforce..Lead l ON idg.Id collate latin1_general_CS_AS = l.Id collate latin1_general_CS_AS WHERE l.Source__c <> 'IDG Aug 14' and (idg.Email2 is not null and idg.Email2 <> '') and l.[Status] <> 'callback requested'
SELECT l.Id, idg.[SIC2007_Code__c] FROM [SalesforceReporting].[dbo].[IDG - Update - 26-08-2014]idg inner join Salesforce..Lead l ON idg.Id collate latin1_general_CS_AS = l.Id collate latin1_general_CS_AS WHERE l.Source__c <> 'IDG Aug 14' and (idg.SIC2007_Code__c is not null and idg.SIC2007_Code__c <> '')
SELECT l.Id, idg.[SIC2007_Description__c] FROM [SalesforceReporting].[dbo].[IDG - Update - 26-08-2014]idg inner join Salesforce..Lead l ON idg.Id collate latin1_general_CS_AS = l.Id collate latin1_general_CS_AS WHERE l.Source__c <> 'IDG Aug 14' and (idg.SIC2007_Description__c is not null and idg.SIC2007_Description__c <> '') and l.[Status] <> 'callback requested'
SELECT l.Id, idg.[SIC2007_Code2__c] FROM [SalesforceReporting].[dbo].[IDG - Update - 26-08-2014]idg inner join Salesforce..Lead l ON idg.Id collate latin1_general_CS_AS = l.Id collate latin1_general_CS_AS WHERE l.Source__c <> 'IDG Aug 14' and (idg.SIC2007_Code2__c is not null and idg.SIC2007_Code2__c <> 0) and l.[Status] <> 'callback requested'
SELECT l.Id, idg.[SIC2007_Description2__c] FROM [SalesforceReporting].[dbo].[IDG - Update - 26-08-2014]idg inner join Salesforce..Lead l ON idg.Id collate latin1_general_CS_AS = l.Id collate latin1_general_CS_AS WHERE l.Source__c <> 'IDG Aug 14' and (idg.SIC2007_Description2__c is not null and idg.SIC2007_Description2__c <> '') and l.[Status] <> 'callback requested'
SELECT l.Id, idg.[SIC2007_Code3__c] FROM [SalesforceReporting].[dbo].[IDG - Update - 26-08-2014]idg inner join Salesforce..Lead l ON idg.Id collate latin1_general_CS_AS = l.Id collate latin1_general_CS_AS WHERE l.Source__c <> 'IDG Aug 14' and (idg.SIC2007_Code3__c is not null and idg.SIC2007_Code3__c <> 0) and l.[Status] <> 'callback requested'
SELECT l.Id, idg.[SIC2007_Description3__c] FROM [SalesforceReporting].[dbo].[IDG - Update - 26-08-2014]idg inner join Salesforce..Lead l ON idg.Id collate latin1_general_CS_AS = l.Id collate latin1_general_CS_AS WHERE l.Source__c <> 'IDG Aug 14' and (idg.SIC2007_Description3__c is not null and idg.SIC2007_Description3__c <> '') and l.[Status] <> 'callback requested'