SELECT Id, Company
/*
BEGIN TRAN

INSERT INTO SalesforceReporting..toxicdata 

SELECT 
OwnerId [BDM] 
,OwnerId [Prospect Owner Alias]
,CreatedById [Created By]
,CreatedById [Created Alias]
,LastModifiedById [Last Modified By]
,LastModifiedById [Last Modified Alias]
,[Salutation]
,FirstName [First Name]
,LastName [Last Name]
,RecordTypeId [Prospect Record Type]
,[Title]
,Company [Company   Account]
,[Description]
,LeadSource [Prospect Source]
,Industry [Industry]
,AnnualRevenue [Annual Revenue]
,Status [Prospect Status]
,[Rating]
,NumberOfEmployees [No  of Employees]
,CompanyDunsNumber [Company D-U-N-S Number]
,ConvertedDate [Converted]
,NULL [Unread By Owner]
,CreatedDate [Create Date]
,DATENAME(Month, CreatedDate) [Created Month]
,LastModifiedDate [Last Modified]
,NULL [Owner Role Display]
,NULL [Owner Role Name]
,Id [Prospect ID]
,LastActivityDate [Last Activity]
,NULL [Data com Key]
,CleanStatus [Clean Status]
,[Street]
,NULL [Street Line 1]
,NULL [Street Line 2]
,NULL [Street Line 3]
,[City]
,State [County]
,PostalCode [Post Code]
,[Country]
,[Phone]
,MobilePhone [Mobile]
,[Email]
,HasOptedOutOfEmail [Email Opt Out]
,[Website]
,EmailBouncedReason [Email Bounced Reason]
,EmailBouncedDate [Email Bounced Date]
,X1st_Visit_Date__c [1st Visit Date]
,X1st_Visit_Date_Date__c [1st Visit Date (Date)]
,X1st_Visit_Status__c [1st Visit Status]
,NULL [Address Status]
,NULL [Address Timezone]
,NULL [Address Type]
,NULL [Address Vacancy]
,Affinity_Cold__c [Affinity Cold]
,Affinity_Industry_Type__c [Affinity Industry Type]
,Alternate_DM__c [Alternate DM]
,Alternate_DM_Position__c [Alternate DM Position]
,Appointment_Type__c [Appointment Type]
,Approved_By__c [Approved By]
,Approved_Date__c [Approved Date]
,Area_Code__c [Area Code]
,BDC__c [BDC]
,BDC_is_current_user__c [BDC is current user]
,BDC_Manager__c [BDC Manager]
,BDC_Manager_is__c [BDC Manager is current user]
,Best_time_to_call_back__c [Best time to call back]
,NULL [Bizible Ad Content (FT)]
,NULL [Bizible Ad Group (FT)]
,NULL [Bizible Attribution]
,NULL [Bizible Campaign (FT)]
,NULL [Bizible City (FT)]
,NULL [Bizible Country (FT)]
,NULL [Bizible Device (FT)]
,NULL [Bizible Keyword (FT)]
,NULL [Bizible Landing Page (FT)]
,NULL [Bizible Medium (FT)]
,NULL [Bizible Referrer Page (FT)]
,NULL [Bizible Region (FT)]
,NULL [Bizible Search Phrase (FT)]
,NULL [Bizible UserId]
,NULL [Bizible WebSource (FT)]
,Business_Type_Indicator__c [Business Type Indicator]
,Callback_Date_Time__c [Callback Date Time]
,CitationSector__c [CitationSector]
,Company_Group__c [Company Group]
,Company_name__c [Company name?]
,Company_Name_DQ__c [Company name (DQ)?]
,Completed_Date__c [Completed Date]
,Converted_Opp_Id__c [Converted Opp Id]
,Current_Owner_Office__c [Current Owner Office]
,Current_Third_Party_Product__c [Current Third Party Provider]
,Data_Quality_Agent__c [Data Quality Agent]
,Data_Quality_All_Checked__c [Data Quality All Checked]
,Data_Quality_Date__c [Data Quality Date]
,Data_Quality_Notes__c [Data Quality Notes]
,Data_Supplier__c [Data Supplier]
,DateLastExtractedToDialler__c [DateLastExtractedToDialler]
,Date_Made__c [Date Made]
,Diary_placement_considered__c [Diary placement considered?]
,Diary_Placement_DQ__c [Diary placement considered (DQ)?]
,Directors__c [Directors]
,Emails__c [Email?]
,Email_DQ__c [Email (DQ)?]
,First_Call_Date__c [First Call Date]
,FT_Employees__c [FT Employees]
,Full_Address__c [Full Address?]
,Full_address_DQ__c [Full address (DQ)?]
,Full_name_and_position__c [Full name and position?]
,Full_Name_and_Position_DQ__c [Full name and position (DQ)?]
,How_They_Deal_HS_PEL_DQ__c [How they deal with HS PE currently (DQ)?]
,How_they_deal_with_HS_PEL_currently__c [How they deal with HS PEL currently?]
,noblesys__InNobleList__c [InNobleList]
,IsTPS__c [IsTPS]
,I_would_like_information_on_free_seminar__c [I would like information on free seminar]
,Last_Call_Date__c [Last Call Date]
,NULL [Lead Email Status]
,MADE_Criteria__c [MADE Criteria]
,Message__c [Message]
,More_notes_required__c [More notes required?]
,More_notes_required_DQ__c [More notes required (DQ)?]
,Need_identified__c [Need identified?]
,Need_Identified_DQ__c [Need identified (DQ)?]
,NULL [NeedPull]
,Next_Dialler_Eligible_Date__c [Next Dialler Eligible Date]
,Noble_Date__c [Noble Date]
,NobleRecordTag__c [NobleRecordTag]
,Notes__c [Notes]
,Other_Phone__c [Other Phone]
,OutCode__c [OutCode]
,Page_on_website__c [Page on website]
,PAYE__c [PAYE?]
,PAYE_DQ__c [PAYE (DQ)?]
,Payroll_Amt__c [Payroll Amt]
,Pended_By__c [Pended By]
,Pended_Date__c [Pended Date]
,Position__c [Position]
,Product_Interest__c [Product Interest]
,Prospect_Channel__c [Prospect Channel]
,Prospect_Creator_Id__c [Prospect Creator Id]
,Prospect_External_Id__c [Prospect External Id]
,PT_Employees__c [PT Employees]
,Renewal_Date__c [Renewal Date]
,NULL [Residential Delivery Indicator]
,Salesforce_Id__c [Salesforce Id]
,Sales_Voice_Recording__c [Sales Voice Recording]
,Sector__c [Sector]
,Services_interested_in__c [Services interested in]
,Session_Notes__c [Session Notes]
,SIC2007_Code__c [SIC2007_Code]
,SIC2007_Code2__c [SIC2007_Code2]
,SIC2007_Code3__c [SIC2007_Code3]
,SIC2007_Description__c [SIC2007 Description]
,SIC2007_Description2__c [SIC2007 Description2]
,SIC2007_Description3__c [SIC2007 Description3]
,Source__c [Source]
,Staff_numbers_ft_pt_split__c [Staff numbers ? ft pt split?]
,Staff_Numbers_DQ__c [Staff numbers ? ft pt split (DQ)?]
,Status_Changed_Date__c [Status Changed Date]
,Subcontractors__c [Subcontractors]
,Suspended_Closed_Reason__c [Suspended Closed Reason]
,Third_party_renewal_date__c [Third party -  renewal date?]
,Third_Party_Renewal_DQ__c [Third party - renewal date (DQ)?]
,THL_FK__c [THL_FK]
,Time_and_date_of_the_appointment__c [Time and date of the appointment?]
,Time_Date_Appointment_DQ__c [Time and date of the appointment (DQ)?]
,Total_Employees__c [Total Employees]
,Trigger_Session_Notes_Erase__c [Trigger Session Notes Erase]
,NULL [User]
,Web_Prospect_Notes__c [Web Prospect Notes]
,xTotal_Employees__c [xTotal Employees]
,NULL [Lead]
,NULL [Account]
,NULL [AccountSite]
,NULL [BadCompanies]
,NULL [BadDomain]
,NULL [ToxicSIC]
,NULL [TotalImport]
,NULL [Duplicate]*/

FROM 
Salesforce..Lead

WHERE
Status not in ('Approved','Data Quality','Pended','Callback Requested') 
AND
(
	Company in (SELECT Company FROM SalesforceReporting..BadCompanies) 
	OR 
	Email like '%gov.uk%' or Email like '%nhs.uk%' or Email like '%royalmail.co%' or Email like '%hpcha.org%' or Email like '%o2.co%' or Email like '%.coop%' or
	Website like '%gov.uk%' or Website like '%nhs.uk%' or Website like '%royalmail.co%' or Website like '%hpcha.org%' or Website like '%o2.co%' or Website like '%.coop%'
	OR
	Company like '%NHS%' or
	Company like '%CHARITY%' or
	Company like '%HOSPICE%' or
	Company like '%Bupa%' or
	Company like '%gov.uk%' or
	Company like '%mencap%' or
	Company like '%Barnardo%' or
	Company like '%fire brigade%' or
	Company like '%council%'
)