SELECT [Prospect_External_Id__c]
      ,[Company]
      ,[Street]
      ,[City]
      ,[State]
      ,[PostalCode]
      ,[Phone]
      ,[IsTPS__c]
      ,[Salutation]
      ,[FirstName]
      ,[LastName]
      ,[Position__c]
      ,[Website]
      ,[FT_Employees__c]
      ,[Sector__c]
      ,[SIC2007_Code2__c]
      ,[SIC2007_Description2__c]
      ,[SIC2007_Code3__c]
      ,[SIC2007_Description3__c]
      ,[Email]
  FROM Salesforce..Lead
  WHERE Bad_Data_Date__c is not null and Source__c = 'ML August 2015'