SELECT
l.Id, LastOutboundCall__c,
case when CONVERT(date, NVMConnect__NextContactTime__c) < CONVERT(date, GETDATE()) then 1 else 0 end NextContact_BeforeToday,
case when ISNULL(NVMConnect__NextContactTime__c,'') = '' then 1 else 0 end NextContact_Blank,
case when Status = 'Open' then 1 else 0 end Status_Open,
case when IsTPS__c <> 'Yes' then 1 else 0 end TPS_Yes,
case when ISNULL(l.Phone,'') <> '' then 1 else 0 end Phone_NotBlank,
case when RecordTypeId = '012D0000000NbJsIAK' then 1 else 0 end RecordType_Default,
case when Toxic_SIC__c <> 'TRUE' then 1 else 0 end ToxicSIC_NotTrue,
case when BDC__c is null then 1 else 0 end BDC_Blank,
case when FT_Employees__c between 6 and 225 then 1 else 0 end FT_6_225,
case when FT_Employees__c = 5 and TEXT_BDM__c in ('William McFaulds','Scott Roberts','Dominic Miller','Angela Prior','Cormac McGreevey') then 1 else 0 end FT_5_225,
case when CitationSector__c in ('CLEANING','HORTICULTURE') and FT_Employees__c between 4 and 225 then 1 else 0 end FT_4_225,
case when CitationSector__c in ('DENTAL PRACTICE','DAY NURSERY','FUNERAL SERVICES') and FT_Employees__c between 3 and 225 then 1 else 0 end FT_3_225,
case when CitationSector__c = 'CARE' and FT_Employees__c between 6 and 225 then 1 else 0 end FT_6_225_CARE,
case when CitationSector__c not in ('EDUCATION','Dental practice') then 1 else 0 end Sector_NotEduDental,
case when Source__c not like '%Closed Lost%' then 1 else 0 end Source_NOTClosedLost,
case when Source__c not like '%Marketing Lost%' then 1 else 0 end Source_NOTMarketingLost,
case when Data_Supplier__c not like '%KeySector%' then 1 else 0 end Supplier_NOTKeySector,
case when Data_Supplier__c not like '%scotlandhome%' then 1 else 0 end Supplier_NOTScotlandHome

FROM
Salesforce..Lead l
inner join Salesforce..[User] u ON l.OwnerId = u.Id

WHERE
u.Name = (SELECT BDM FROM NewVoiceMedia..Build_NEW WHERE ID = 22)
and
List_Type__c  in (SELECT CONVERT(VarChar, ListNo) FROM NewVoiceMedia..Build_NEW WHERE ID in (22,28,34,39))

/*
and
(
CONVERT(date, NVMConnect__NextContactTime__c) < CONVERT(date, GETDATE()) or ISNULL(NVMConnect__NextContactTime__c,'') = ''
)
and
Status = 'Open'
and
IsTPS__c <> 'Yes'
and
RecordTypeId = '012D0000000NbJsIAK'
and
ISNULL(l.Phone,'') <> ''
and
Toxic_SIC__c <> 'TRUE'
and
BDC__c is null
and
(
--CitationSector__c = 'Care'
--or
(
	(
		FT_Employees__c between 6 and 225 
		or 
		(
			FT_Employees__c = 5 and TEXT_BDM__c in ('William McFaulds','Scott Roberts','Dominic Miller','Angela Prior','Cormac McGreevey')
		)
	)
	or
	(
		CitationSector__c = 'CLEANING' and FT_Employees__c between 4 and 225
	)
	or
	(
		CitationSector__c = 'DENTAL PRACTICE' and FT_Employees__c between 3 and 225
	)
	or
	(
		CitationSector__c = 'HORTICULTURE' and FT_Employees__c between 4 and 225
	)
	or
	(
		CitationSector__c = 'DAY NURSERY' and FT_Employees__c between 3 and 225
	)
	or
	(
		CitationSector__c like '%FUNERAL%' and FT_Employees__c between 3 and 225
	)
	or
	(
		CitationSector__c = 'CARE' and FT_Employees__c between 6 and 225
	)
)
)
and 
CitationSector__c not in ('EDUCATION','Dental practice')
and
Source__c not like '%Closed Lost%'
and
Source__c not like '%Marketing Lost%'
and
Data_Supplier__c not like '%KeySector%'
and
Data_Supplier__c not like '%scotlandhome%'
*/
and
l.Id in 
(
'00QD000000jcgGUMAY',
'00QD000000fRwxuMAC',
'00QD000000t44kMMAQ',
'00QD000000t4CXoMAM',
'00QD000000t4UDcMAM',
'00QD000000t4i9UMAQ',
'00QD000000xhhl2MAA',
'00QD0000014ayKTMAY',
'00QD0000015Eo5jMAC',
'00QD0000015FvBwMAK',
'00QD0000015GDNPMA4',
'00QD000000qEwQJMA0',
'00QD0000015FvDPMA0',
'00QD0000015Eo8tMAC',
'00QD000000pMd0oMAC',
'00QD000000jbPHVMA2',
'00QD000000t4UVRMA2',
'00QD000000t4IiEMAU',
'00QD000000hddH3MAI',
'00QD000000vOBcXMAW',
'00QD000000fShTlMAK',
'00QD000000fRaKPMA0',
'00QD000000jccJOMAY',
'00QD000000vOEvMMAW',
'00QD000000k267PMAQ',
'00QD000000k2A2CMAU',
'00QD000000fQxD3MAK',
'00QD000000jcY28MAE',
'00QD000000fTwOXMA0',
'00QD000000xSNBWMA4',
'00QD000000fRcfjMAC',
'00QD000000fTQaGMAW',
'00QD000000fTYIVMA4',
'00QD000000t4NPOMA2',
'00QD000000t4UVQMA2',
'00QD000000k2Wx7MAE',
'00QD000000t45CSMAY',
'00QD000000pMXLMMA4',
'00QD000000mvqVUMAY',
'00QD000000fSzVsMAK',
'00QD000000hdk9iMAA',
'00QD000000hdoFpMAI',
'00QD000000fQmjCMAS',
'00QD000000o6ly0MAA',
'00QD000000hdwtgMAA',
'00QD000000heAM3MAM',
'00QD000000fT4ypMAC',
'00QD000000fTFrtMAG',
'00QD000000hdku2MAA',
'00QD000000x9WdTMAU',
'00QD000000fTB5tMAG',
'00QD000000fTb5yMAC',
'00QD000000o6jD0MAI',
'00QD000000fSsx0MAC',
'00QD000000hde6yMAA',
'00QD000000t45UwMAI',
'00QD000000heAt5MAE',
'00QD000000f5cXcMAI',
'00QD000000fR1JdMAK',
'00QD000000heJgbMAE',
'00QD000000fQtz5MAC',
'00QD000000f5fHiMAI',
'00QD000000gVa3WMAS',
'00QD000000fT4tCMAS',
'00QD000000hdxx1MAA',
'00QD000000hdxyTMAQ',
'00QD000000he2eSMAQ',
'00QD000000he9okMAA',
'00QD000000heCMTMA2',
'00QD000000heAH3MAM',
'00QD000000heHdIMAU',
'00QD000000heE7NMAU',
'00QD000000hdwu5MAA',
'00QD000000hdwteMAA',
'00QD000000wlxkqMAA',
'00QD000000hdyZpMAI',
'00QD000000t4OQrMAM',
'00QD000000fTEtQMAW',
'00QD000000vOFqmMAG',
'00QD000000fSLHYMA4',
'00QD000000fTYbZMAW',
'00QD000000k2hJFMAY',
'00QD000000t4NQHMA2',
'00QD000000rYlhyMAC',
'00QD000000vOLZtMAO',
'00QD000000vONIwMAO',
'00QD000000vONHTMA4',
'00QD000000vONQ9MAO',
'00QD000000vONCqMAO',
'00QD000000vONQgMAO',
'00QD000000vOEgfMAG',
'00QD000000k2TKFMA2',
'00QD000000k2LoGMAU',
'00QD000000jbLW3MAM',
'00QD000000t4FvDMAU',
'00QD000000t4jyNMAQ',
'00QD000000fT3zgMAC',
'00QD000000fT7TnMAK',
'00QD000000fRAI0MAO',
'00QD000000vogjCMAQ',
'00QD000000wFI4bMAG',
'00QD000000fTsQ2MAK',
'00QD000000fSy2pMAC',
'00QD000000fTG5WMAW',
'00QD000000fQtvZMAS',
'00QD000000fR1GdMAK',
'00QD000000voeNJMAY',
'00QD000000o6k4uMAA',
'00QD000000fQmidMAC',
'00QD000000vocEMMAY',
'00QD000000fTTewMAG',
'00QD000000fRhmnMAC',
'00QD000000qEezAMAS',
'00QD000000fTIUVMA4',
'00QD000000fT0CMMA0',
'00QD000000jZqJXMA0',
'00QD000000heIcbMAE',
'00QD000000jZYSJMA4',
'00QD000000heJbdMAE',
'00QD000000jZqbFMAS',
'00QD000000jZnOFMA0',
'00QD000000heMxuMAE',
'00QD000000jbIqsMAE',
'00QD000000ja6ehMAA',
'00QD000000jZrp9MAC',
'00QD000000f521QMAQ',
'00QD000000t4u7pMAA',
'00QD000000fTPVhMAO',
'00QD000000fT3IUMA0',
'00QD000000jcb7xMAA',
'00QD000000qEs26MAC',
'00QD000000qEuzwMAC',
'00QD000000vOEuzMAG',
'00QD000000t4MPjMAM',
'00QD000000t4BiZMAU',
'00QD000000jcdtdMAA',
'00QD000000hde70MAA',
'00QD000000fR3K2MAK',
'00QD000000o6lMRMAY',
'00QD000000o6lN0MAI',
'00QD000000o6lRGMAY',
'00QD000000vOHq2MAG',
'00QD000000fRU3UMAW',
'00QD000000vODT9MAO',
'00QD000000fTKt0MAG',
'00QD000000o6lRFMAY',
'00QD000000o6lTNMAY',
'00QD000000t42EkMAI',
'00QD000000heI0RMAU',
'00QD000000jZu0YMAS',
'00QD000000fQjcbMAC',
'00QD000000pMWvkMAG',
'00QD000000hdhkbMAA',
'00QD000000jZj98MAC',
'00QD000000t4vNfMAI',
'00QD000000vONAiMAO',
'00QD000000fT2gyMAC',
'00QD000000fQk53MAC',
'00QD000000jbIq9MAE',
'00QD000000fRGQhMAO',
'00QD000000jZtUBMA0',
'00QD000000fRUcMMAW',
'00QD000000fTTsWMAW',
'00QD000000fTwNyMAK',
'00QD000000fTUt2MAG',
'00QD000000hdY4TMAU',
'00QD000000jZevNMAS',
'00QD000000jZXNoMAO',
'00QD000000fT7QaMAK',
'00QD000000t41g8MAA',
'00QD000000fRjivMAC',
'00QD000000jZqyJMAS',
'00QD000000t4dp5MAA',
'00QD000000fT06dMAC',
'00QD000000fTfjzMAC',
'00QD000000f5K3JMAU',
'00QD000000fRYLVMA4',
'00QD000000fS9nCMAS',
'00QD000000k2dseMAA',
'00QD000000hdkunMAA',
'00QD000000vOLDGMA4',
'00QD000000zZwjeMAC',
'00QD000000t4PQfMAM',
'00QD000000z6ouWMAQ',
'00QD000000fRbMSMA0',
'00QD000000vof8OMAQ',
'00QD000000fR4z7MAC',
'00QD000000fQkWZMA0',
'00QD000000o6kxEMAQ',
'00QD000000vogGZMAY',
'00QD000000vofOtMAI',
'00QD000000pMk3yMAC',
'00QD000000f5YFEMA2',
'00QD000000t41GkMAI',
'00QD000000vofHNMAY',
'00QD000000jcWMgMAM',
'00QD000000ja6lAMAQ',
'00QD000000jbOi1MAE',
'00QD000000jbRopMAE',
'00QD000000jbRvbMAE',
'00QD000000jbUjoMAE',
'00QD000000jcfNWMAY',
'00QD000000jcUlpMAE',
'00QD000000jcWLsMAM',
'00QD000000jcZXtMAM',
'00QD000000jcbRxMAI',
'00QD000000jcbp9MAA',
'00QD000000jccv0MAA',
'00QD000000jcWlWMAU',
'00QD000000fTuAmMAK',
'00QD000000yBoYgMAK',
'00QD000000fSho0MAC',
'00QD000000jbKnEMAU',
'00QD000000yKZaNMAW',
'00QD000000x9TWTMA2',
'00QD000000vOKMbMAO',
'00QD000000fTWrMMAW',
'00QD000000fSoxmMAC',
'00QD000000jcmICMAY',
'00QD000000t4OHeMAM',
'00QD000000hda6TMAQ',
'00QD0000010o2tgMAA',
'00QD000000fTXpgMAG',
'00QD000000fTZ27MAG',
'00QD000000qErzqMAC',
'00QD000000t4RHyMAM',
'00QD000000fSlNnMAK',
'00QD000000fTNaCMAW',
'00QD000000heHsGMAU',
'00QD000000fQh2AMAS',
'00QD000000f5e9QMAQ',
'00QD000000t45msMAA',
'00QD000000t4V4hMAE',
'00QD000000t4RQdMAM',
'00QD000000t4RZ3MAM',
'00QD000000t4Z6EMAU',
'00QD000000pMcUfMAK',
'00QD000000t4H97MAE',
'00QD000000t4J9lMAE',
'00QD000000qcxoVMAQ',
'00QD000000fTKpZMAW',
'00QD000000t2T0wMAE',
'00QD000000fTMvtMAG',
'00QD000000fTQmRMAW',
'00QD000000fTVGKMA4',
'00QD000000fTcRBMA0',
'00QD000000fRy4bMAC',
'00QD000000t4dzCMAQ',
'00QD000000fTWhaMAG',
'00QD000000fTdR0MAK',
'00QD000000t4ZeoMAE',
'00QD000000t4KwoMAE',
'00QD000000t4MPvMAM',
'00QD000000t4fD5MAI',
'00QD000000fTqObMAK',
'00QD000000fTk0CMAS',
'00QD000000fTr8uMAC',
'00QD000000t4Q0cMAE',
'00QD000000fSjSbMAK',
'00QD000000fTPcUMAW',
'00QD000000fTijxMAC',
'00QD000000voh7lMAA',
'00QD000000fRJcGMAW',
'00QD000000fT6GFMA0',
'00QD000000fSiFrMAK',
'00QD000000fSjAoMAK',
'00QD000000t4a4tMAA',
'00QD000000t4YPUMA2',
'00QD000000t4ZXcMAM',
'00QD000000t4JH0MAM',
'00QD000000x9TpCMAU',
'00QD000000x9WZkMAM',
'00QD000000t4aVoMAI',
'00QD000000fT1cqMAC',
'00QD000000fT8ijMAC',
'00QD000000t4mdzMAA',
'00QD000000t4ZNBMA2',
'00QD000000lX3ruMAC',
'00QD000000vOCZiMAO',
'00QD000000vODzXMAW',
'00QD000000vOKlTMAW',
'00QD000000fR32LMAS',
'00QD000000f4yY1MAI',
'00QD000000fQyDKMA0',
'00QD000000fSlHfMAK',
'00QD000000heLj5MAE',
'00QD000000f5EGVMA2',
'00QD000000t4ZNVMA2',
'00QD000000jckKuMAI',
'00QD000000vOLmEMAW',
'00QD000000fTS94MAG',
'00QD000000fTF3aMAG',
'00QD000000jcWRtMAM',
'00QD000000fR1X2MAK',
'00QD000000k2fFCMAY',
'00QD000000lX5cFMAS',
'00QD000000lX6vbMAC',
'00QD000000vOElDMAW',
'00QD000000fSMjkMAG',
'00QD000000vOFqUMAW',
'00QD000000x9VfqMAE',
'00QD000000fSiKFMA0',
'00QD000000fSkH6MAK',
'00QD000000fSiDjMAK',
'00QD000000lWzsvMAC',
'00QD000000k2ly8MAA',
'00QD000000t4jz0MAA',
'00QD000000k2a17MAA',
'00QD000000fT40iMAC',
'00QD000000fSgoOMAS',
'00QD000000x9UblMAE',
'00QD000000t4dHZMAY',
'00QD000000k2kf5MAA',
'00QD000000t4Ci6MAE',
'00QD000000pMXdfMAG',
'00QD000000pMYrfMAG',
'00QD000000pMZVSMA4',
'00QD000000pMZVjMAO',
'00QD000000pMWNwMAO',
'00QD000000fQnjZMAS',
'00QD000000ja3t3MAA',
'00QD000000vOCqFMAW',
'00QD000000fR5miMAC',
'00QD000000fRKQLMA4',
'00QD000000t48IPMAY',
'00QD000000t4MYbMAM',
'00QD000000t4VTfMAM',
'00QD000000fSpdBMAS',
'00QD000000vONBlMAO',
'00QD000000fSrrvMAC',
'00QD000000fSsHyMAK',
'00QD000000fSsJfMAK',
'00QD000000t4dGZMAY',
'00QD000000fSwkkMAC',
'00QD000000fSwVLMA0',
'00QD000000fSwvxMAC',
'00QD000000fSvMiMAK',
'00QD000000pMfZcMAK',
'00QD000000pMg1cMAC',
'00QD000000pMa03MAC',
'00QD000000pMblRMAS',
'00QD000000fSukWMAS',
'00QD000000fSu24MAC',
'00QD000000fStVeMAK',
'00QD000000fSwRmMAK',
'00QD000000fSxMeMAK',
'00QD000000fSyPsMAK',
'00QD000000fTPiBMAW',
'00QD000000heLFxMAM',
'00QD000000k1zlnMAA',
'00QD000000t4FmKMAU',
'00QD000000fRdXkMAK',
'00QD000000fStEKMA0',
'00QD000000fTvlhMAC',
'00QD000000rYlzDMAS',
'00QD000000fTyU5MAK',
'00QD000000fRCFRMA4',
'00QD000000fU0JUMA0',
'00QD000000fU0AtMAK',
'00QD000000hdVSyMAM',
'00QD000000hdXdfMAE',
'00QD0000011aDPKMA2',
'00QD000000fSvFtMAK',
'00QD000000fTx9BMAS',
'00QD000000fTxKEMA0',
'00QD000000qdFmyMAE',
'00QD000000qcxo3MAA',
'00QD000000fSkHvMAK',
'00QD000000t4l4qMAA',
'00QD000000t4kXrMAI',
'00QD000000fTF0KMAW',
'00QD000000fTMAUMA4',
'00QD000000uh1e4MAA',
'00QD000000t4mtAMAQ',
'00QD000000fQyijMAC',
'00QD000000fRrWBMA0',
'00QD000000hdd9NMAQ',
'00QD000000t47TNMAY',
'00QD000000hdhidMAA',
'00QD000000voaviMAA',
'00QD000000heMiaMAE',
'00QD000000hde6KMAQ',
'00QD000000t4kGuMAI',
'00QD000000t4k72MAA',
'00QD000000fTPa3MAG',
'00QD000000xhiSOMAY',
'00QD000000k2e4oMAA',
'00QD000000jZn5nMAC',
'00QD000000jZn5zMAC',
'00QD000000fTSElMAO',
'00QD000000k2pTzMAI',
'00QD000000fT1L7MAK',
'00QD000000f523TMAQ',
'00QD000000fTxRmMAK',
'00QD000000fSifYMAS',
'00QD000000fTWeTMAW',
'00QD000000fTJ75MAG',
'00QD000000rYlbwMAC',
'00QD000000f5KzPMAU',
'00QD000000fSoDZMA0',
'00QD000000fTzt9MAC',
'00QD000000pMcNJMA0',
'00QD000000pMfuAMAS',
'00QD000000fS3z9MAC',
'00QD000000k2PDNMA2',
'00QD000000fRndGMAS',
'00QD000000fTU3eMAG',
'00QD000000fR9z9MAC',
'00QD000000fSFwnMAG',
'00QD000000fQrqiMAC',
'00QD000000fTiPJMA0',
'00QD000000t4bjsMAA',
'00QD000000fSwvpMAC',
'00QD000000pMkTKMA0',
'00QD000000f5198MAA',
'00QD000000f5EKzMAM',
'00QD000000fRLPEMA4',
'00QD000000fRS1CMAW',
'00QD000000vOK5nMAG',
'00QD000000vOIJyMAO',
'00QD000000vOIXcMAO',
'00QD000000vOKBuMAO',
'00QD000000vOKXrMAO',
'00QD000000f4yWpMAI',
'00QD000000fTQlyMAG',
'00QD000000fRfE0MAK',
'00QD000000vOLOUMA4',
'00QD000000f5QBxMAM',
'00QD000000f5K2MMAU',
'00QD000000vOKfcMAG',
'00QD000000vOLwAMAW',
'00QD000000fSk2eMAC',
'00QD000000vOLaIMAW',
'00QD000000lX8wBMAS',
'00QD000000pMZtkMAG',
'00QD000000fTPhFMAW',
'00QD000000fTTtVMAW',
'00QD000000fT83MMAS',
'00QD000000vOIT4MAO',
'00QD000000k2Bq4MAE',
'00QD000000k2AjyMAE',
'00QD000000k2H4KMAU',
'00QD000000pMZiDMAW',
'00QD000000k2KOzMAM',
'00QD000000pMa2JMAS',
'00QD000000k2OSJMA2',
'00QD000000pMa8mMAC',
'00QD000000k2UamMAE',
'00QD000000k2WIbMAM',
'00QD000000pMVg1MAG',
'00QD000000lWzm5MAC',
'00QD000000k2KuNMAU',
'00QD000000k2Z6mMAE',
'00QD000000k28yWMAQ',
'00QD000000pMeZaMAK',
'00QD000000k2XXUMA2',
'00QD000000k227BMAQ',
'00QD000000pMZPzMAO',
'00QD000000k25j5MAA',
'00QD000000jckqKMAQ',
'00QD000000jckQeMAI',
'00QD000000pMip5MAC',
'00QD000000k275TMAQ',
'00QD000000k26OMMAY',
'00QD000000k2LPVMA2',
'00QD000000jcd1zMAA',
'00QD000000fRbenMAC',
'00QD000000fRcdaMAC',
'00QD000000fRbZRMA0',
'00QD000000xRpkYMAS',
'00QD000000vOFGWMA4',
'00QD000000fRepxMAC',
'00QD000000fRjsSMAS',
'00QD000000fRkiiMAC',
'00QD000000fRSrLMAW',
'00QD000000fT1LjMAK',
'00QD000000fTYriMAG',
'00QD000000fTxBQMA0',
'00QD000000fRm5jMAC',
'00QD000000fRlqNMAS',
'00QD000000fRmZXMA0',
'00QD000000fRmEOMA0',
'00QD000000fRol2MAC',
'00QD000000fRsh3MAC',
'00QD000000fTLwkMAG',
'00QD000000fRqG0MAK',
'00QD000000fRqDTMA0',
'00QD000000fRr9bMAC',
'00QD000000t4vQYMAY',
'00QD000000fRp13MAC',
'00QD000000fSySgMAK',
'00QD000000jcn1UMAQ',
'00QD000000f5JFeMAM',
'00QD000000fSvLvMAK',
'00QD000000fRxbZMAS',
'00QD000000fRwqqMAC',
'00QD000000fS0IrMAK',
'00QD000000fRzyYMAS',
'00QD000000fRzjMMAS',
'00QD000000fSix5MAC',
'00QD000000fRiO5MAK',
'00QD000000fRyNBMA0',
'00QD000000fS0zGMAS',
'00QD000000fS5DvMAK',
'00QD000000fS6otMAC',
'00QD000000fS6bIMAS',
'00QD000000fS7DvMAK',
'00QD000000fRc1OMAS',
'00QD000000pMefcMAC',
'00QD000000fRqwYMAS',
'00QD000000fS1GtMAK',
'00QD000000fS8xAMAS',
'00QD000000fS8YmMAK',
'00QD000000fSCTGMA4',
'00QD000000fSDANMA4',
'00QD000000fSjizMAC',
'00QD000000fSMd2MAG',
'00QD000000fQv2KMAS',
'00QD000000fSA79MAG',
'00QD000000fSLHVMA4',
'00QD000000fSm6HMAS',
'00QD000000fSn4IMAS',
'00QD000000fSk2uMAC',
'00QD000000fTSDbMAO',
'00QD000000fTYXmMAO',
'00QD000000fRqVnMAK',
'00QD000000fT0uQMAS',
'00QD000000fT5zzMAC',
'00QD000000f5GTlMAM',
'00QD000000fRuCqMAK',
'00QD000000iK7nKMAS',
'00QD000000fSmFUMA0',
'00QD000000fTn0IMAS',
'00QD000000fTOKIMA4',
'00QD000000fTOQ4MAO',
'00QD000000fTPt2MAG',
'00QD000000fSH2NMAW',
'00QD000000k2dyPMAQ',
'00QD000000o6iJ0MAI',
'00QD000000o6jvGMAQ',
'00QD000000o6k3wMAA',
'00QD000000o6k3xMAA',
'00QD000000o6jENMAY',
'00QD000000o6kpnMAA',
'00QD000000o6jwQMAQ',
'00QD000000o6lMsMAI',
'00QD000000pMj2VMAS',
'00QD000000pMeXbMAK',
'00QD0000010l0mIMAQ',
'00QD000000fTMoAMAW',
'00QD000000fTfLkMAK',
'00QD000000o6lgkMAA',
'00QD000000o6mlLMAQ',
'00QD000000o6mH8MAI',
'00QD000000o6lzaMAA',
'00QD000000o6lTjMAI',
'00QD000000o6mxLMAQ',
'00QD000000o6mNdMAI',
'00QD000000o6mCJMAY',
'00QD000000sAVrGMAW',
'00QD000000fTdmbMAC',
'00QD000000t4PIKMA2',
'00QD000000fT520MAC',
'00QD000000fTmCcMAK',
'00QD000000t4Gt0MAE',
'00QD000000t4HzPMAU',
'00QD000000fTmLZMA0',
'00QD000000fTrgLMAS',
'00QD000000fTuzqMAC',
'00QD000000fTqIVMA0',
'00QD000000fRH6qMAG',
'00QD000000fTqY8MAK',
'00QD000000vOKopMAG',
'00QD000000t4lFNMAY',
'00QD000000tTldnMAC',
'00QD000000vOKufMAG',
'00QD000000fTqpdMAC',
'00QD000000fTuDlMAK',
'00QD000000fT56GMAS',
'00QD000000wTprAMAS',
'00QD000000fTSjXMAW',
'00QD000000t47jmMAA',
'00QD000000fQywPMAS',
'00QD000000t44ewMAA',
'00QD000000t45MAMAY',
'00QD000000t491YMAQ',
'00QD000000t4E5NMAU',
'00QD000000fTACoMAO',
'00QD000000f5IsRMAU',
'00QD0000012Ke1MMAS',
'00QD000000fTnenMAC',
'00QD000000f4yhcMAA',
'00QD000000t4EnOMAU',
'00QD000000f5EgaMAE',
'00QD000000fSJIHMA4',
'00QD000000t4G2OMAU',
'00QD000000f5TA0MAM',
'00QD000000t4Fn6MAE',
'00QD000000f5EZ0MAM',
'00QD000000f5XWMMA2',
'00QD000000f5CsOMAU',
'00QD000000f5K8nMAE',
'00QD000000f5LRNMA2',
'00QD000000f5LEoMAM',
'00QD000000pMc5KMAS',
'00QD000000fRJq1MAG',
'00QD000000jccDHMAY',
'00QD000000t4IGzMAM',
'00QD000000t4MhcMAE',
'00QD000000t4N0aMAE',
'00QD000000t4JA3MAM',
'00QD000000t4K0GMAU',
'00QD000000fT09uMAC',
'00QD000000fTz0HMAS',
'00QD000000t4PPhMAM',
'00QD000000fT9SPMA0',
'00QD000000fTmrFMAS',
'00QD000000fTzewMAC',
'00QD000000t4OPoMAM',
'00QD000000t4OyMMAU',
'00QD000000t4O8VMAU',
'00QD000000t4RAWMA2',
'00QD000000t4Q8LMAU',
'00QD000000t4R0gMAE',
'00QD000000pMhKJMA0',
'00QD000000fT0TCMA0',
'00QD000000yBTaEMAW',
'00QD000000fRVKmMAO',
'00QD000000fRanrMAC',
'00QD000000fRl17MAC',
'00QD000000fTGIDMA4',
'00QD000000fSvVdMAK',
'00QD000000fTMDHMA4',
'00QD000000fTWUKMA4',
'00QD000000o6l82MAA',
'00QD000000lXCwoMAG',
'00QD000000fTYoaMAG',
'00QD000000f5XzhMAE',
'00QD000000fTzQ4MAK',
'00QD000000heHqEMAU',
'00QD000000f4y1TMAQ',
'00QD000000mvp5vMAA',
'00QD000000qEkRrMAK',
'00QD000000t4911MAA',
'00QD000000k28sCMAQ',
'00QD000000k2nQpMAI',
'00QD000000yCRIcMAO',
'00QD000000pMkY6MAK',
'00QD0000012KhFDMA0',
'00QD000000fSqUcMAK',
'00QD000000jbOVkMAM',
'00QD000000fRbdJMAS',
'00QD000000fTAPHMA4',
'00QD000000fSlkgMAC',
'00QD000000fR7HFMA0',
'00QD000000vrFfnMAE',
'00QD000000fTVfuMAG',
'00QD000000hdlMGMAY',
'00QD000000vONuUMAW',
'00QD000000vONsrMAG',
'00QD000000fSzCrMAK',
'00QD000000fSjo8MAC',
'00QD000000fRupfMAC',
'00QD000000fShf2MAC',
'00QD000000t4Kg6MAE',
'00QD000000t4H9JMAU',
'00QD000000t4KpTMAU',
'00QD000000fRhXCMA0',
'00QD000000fTFOwMAO',
'00QD000000fRjPeMAK',
'00QD000000k29GBMAY',
'00QD000000fRP2cMAG',
'00QD000000fRC0TMAW',
'00QD000000jbPlZMAU',
'00QD000000fTCLjMAO',
'00QD000000fT9XbMAK',
'00QD000000fTmTgMAK',
'00QD000000fS47nMAC',
'00QD000000t4WBpMAM',
'00QD000000fTVRpMAO',
'00QD000000fQv9iMAC',
'00QD000000t40J4MAI',
'00QD000000t407oMAA',
'00QD000000t4a63MAA',
'00QD000000fTyXdMAK',
'00QD000000pMfHxMAK',
'00QD000000jbNpgMAE',
'00QD000000jbY98MAE',
'00QD000000pMdp8MAC',
'00QD000000pMaY5MAK',
'00QD000000pMgQOMA0',
'00QD0000010kz9QMAQ',
'00QD000000jcebXMAQ',
'00QD000000fSr8nMAC',
'00QD000000fT52WMAS',
'00QD000000fT6tCMAS',
'00QD000000fTA8SMAW',
'00QD000000fT1YXMA0',
'00QD000000fQnhXMAS',
'00QD000000f5CN2MAM',
'00QD000000fSAHcMAO',
'00QD000000fTWoPMAW',
'00QD000000fS4PUMA0',
'00QD000000fRr9sMAC',
'00QD000000fTQlbMAG',
'00QD000000wkvQVMAY',
'00QD000000t4E4nMAE',
'00QD000000hdwsJMAQ',
'00QD000000t4UVEMA2',
'00QD000000fRd4nMAC',
'00QD000000pMZ4AMAW',
'00QD000000fShoTMAS',
'00QD000000fTzxdMAC',
'00QD000000fTLgIMAW',
'00QD000000hdbzCMAQ',
'00QD000000fTTCsMAO',
'00QD000000fTSA3MAO',
'00QD000000pMYAVMA4',
'00QD000000t4MgtMAE',
'00QD000000fRaMNMA0',
'00QD000000fTY8OMAW',
'00QD000000fT15pMAC',
'00QD000000fRhOuMAK',
'00QD000000hdxyLMAQ',
'00QD000000jcj2PMAQ',
'00QD000000vOLVGMA4',
'00QD000000rYlvpMAC',
'00QD000000vOC6LMAW',
'00QD000000fT1I9MAK',
'00QD000000fRlQIMA0',
'00QD000000t4JIPMA2',
'00QD000000rYlvgMAC',
'00QD000000k2gkbMAA',
'00QD000000vobvwMAA',
'00QD000000fTzHKMA0',
'00QD000000fRPMIMA4',
'00QD000000heEpxMAE',
'00QD000000fSibcMAC',
'00QD000000pMgR2MAK',
'00QD000000sA9uWMAS',
'00QD000000pMbyqMAC',
'00QD000000t4mNAMAY',
'00QD000000jbQ5WMAU',
'00QD000000fTCHUMA4',
'00QD000000hdUgyMAE',
'00QD000000heExuMAE',
'00QD000000fSMtcMAG',
'00QD000000fTPVdMAO',
'00QD000000fRuD7MAK',
'00QD000000t4HRIMA2',
'00QD000000t4I1AMAU',
'00QD000000f4youMAA',
'00QD000000fSzimMAC',
'00QD000000fRiljMAC',
'00QD000000f5KVLMA2',
'00QD000000fT508MAC',
'00QD000000fTB5gMAG',
'00QD000000fT2w4MAC',
'00QD000000fRrnxMAC',
'00QD000000fRbthMAC',
'00QD000000k2BcoMAE',
'00QD000000pMjz2MAC',
'00QD000000yCQbLMAW',
'00QD000000fTzAWMA0',
'00QD000000fT7tFMAS',
'00QD000000fTNiJMAW',
'00QD000000fT6XiMAK',
'00QD000000fT5mPMAS',
'00QD000000fT5hGMAS',
'00QD000000fSiotMAC',
'00QD000000x9TNKMA2',
'00QD000000fTvBeMAK',
'00QD000000fT5z9MAC',
'00QD000000jcYQFMA2',
'00QD000000vOFDtMAO',
'00QD000000t45eSMAQ',
'00QD000000fRs58MAC',
'00QD000000fTNVhMAO',
'00QD000000pMfvIMAS',
'00QD000000pMfmNMAS',
'00QD000000k2mwPMAQ',
'00QD000000jZpxyMAC',
'00QD000000fTvF8MAK',
'00QD000000fT7nmMAC',
'00QD000000fT0cUMAS',
'00QD000000k2mYoMAI',
'00QD000000fT14WMAS',
'00QD000000heA4cMAE',
'00QD000000fRvUHMA0',
'00QD000000rYln4MAC',
'00QD000000jbQGTMA2',
'00QD000000fRXCRMA4',
'00QD000000fkDN8MAM',
'00QD000000fRmFUMA0',
'00QD000000fRmTmMAK',
'00QD000000f5TECMA2',
'00QD000000f5fUVMAY',
'00QD000000fRX6DMAW',
'00QD000000f5EZMMA2',
'00QD000000t4OrVMAU',
'00QD000000fRzMjMAK',
'00QD000000fRBQ0MAO',
'00QD000000fRjsrMAC',
'00QD000000fQfrnMAC',
'00QD000000hdVSuMAM',
'00QD000000fT4n9MAC',
'00QD000000fSt95MAC',
'00QD000000k2o1sMAA',
'00QD000000jbU4PMAU',
'00QD000000vODIUMA4',
'00QD000000sorM8MAI',
'00QD000000t4OZLMA2',
'00QD000000pMg6BMAS',
'00QD000000vOCzWMAW',
'00QD000000hdhiaMAA',
'00QD000000fRsxNMAS',
'00QD000000fTXO6MAO',
'00QD000000fShjvMAC',
'00QD000000z60elMAA',
'00QD000000fRj7SMAS',
'00QD000000xhg9NMAQ',
'00QD000000pMg8LMAS',
'00QD000000pMb8JMAS',
'00QD000000jZoNiMAK',
'00QD000000pMfmZMAS',
'00QD000000k2HYtMAM',
'00QD000000heJl8MAE',
'00QD000000heIX1MAM',
'00QD000000yLKf8MAG',
'00QD000000f52NEMAY',
'00QD000000fT4rEMAS',
'00QD000000heG9uMAE',
'00QD000000heJPTMA2',
'00QD000000fTybAMAS',
'00QD000000fTvEiMAK',
'00QD000000jZvwaMAC',
'00QD000000hdlLAMAY',
'00QD000000f5OwgMAE',
'00QD000000lXCeDMAW',
'00QD000000fTXLHMA4',
'00QD000000fTSAwMAO',
'00QD000000pMjYzMAK',
'00QD000000heEtTMAU',
'00QD000000vOGQ9MAO',
'00QD000000pMWpvMAG',
'00QD000000rYlUZMA0',
'00QD0000013ZnjLMAS',
'00QD000000pMVzPMAW',
'00QD000000fT3pKMAS',
'00QD000000fTw9TMAS',
'00QD000000t4Vt8MAE',
'00QD000000f5MWUMA2',
'00QD000000t4OPmMAM',
'00QD000000fTrzmMAC',
'00QD000000fTftWMAS',
'00QD000000fRGJtMAO',
'00QD000000fQrwqMAC',
'00QD000000fQglRMAS',
'00QD000000f5KwDMAU',
'00QD000000fRtuvMAC',
'00QD000000fTyzIMAS',
'00QD000000t4dozMAA',
'00QD000000z4omGMAQ',
'00QD000000t47aZMAQ',
'00QD000000vrFqCMAU',
'00QD000000tTlfAMAS',
'00QD000000vOKBTMA4',
'00QD000000vOHqrMAG',
'00QD000000t4m5sMAA',
'00QD000000t489sMAA',
'00QD000000fRZdSMAW',
'00QD000000hdntiMAA',
'00QD000000fRYl5MAG',
'00QD000000hdnusMAA',
'00QD000000pMaSNMA0',
'00QD000000k2PJTMA2',
'00QD000000hdbzEMAQ',
'00QD000000fRlQXMA0',
'00QD000000t41HWMAY',
'00QD000000fRaWNMA0',
'00QD000000x9V7BMAU',
'00QD000000t4EVHMA2',
'00QD000000t4EDqMAM',
'00QD000000fThahMAC',
'00QD000000t48sEMAQ',
'00QD000000hde6mMAA',
'00QD000000hdfrUMAQ',
'00QD000000hdkA9MAI',
'00QD000000fU0NzMAK',
'00QD000000fTxNAMA0',
'00QD000000fTuNTMA0',
'00QD000000t4MOkMAM',
'00QD000000t4jGlMAI',
'00QD000000lX5duMAC',
'00QD000000fRggVMAS',
'00QD000000t48I6MAI',
'00QD000000pMZuXMAW',
'00QD000000pMcDFMA0',
'00QD000000vOFccMAG',
'00QD000000k2NHOMA2',
'00QD000000t4MgIMAU',
'00QD000000t4IjDMAU',
'00QD000000fTx3YMAS',
'00QD000000t4D6TMAU',
'00QD000000t42QnMAI',
'00QD000000t42icMAA',
'00QD000000t4ij0MAA',
'00QD000000t4MqeMAE',
'00QD000000t4Cg5MAE',
'00QD000000f5OMVMA2',
'00QD000000fTwTAMA0',
'00QD000000heBt3MAE',
'00QD000000t4FVeMAM',
'00QD000000t49RKMAY',
'00QD000000jZvPeMAK',
'00QD000000heJgGMAU',
'00QD000000heHrjMAE',
'00QD000000heFR2MAM',
'00QD000000k2A9OMAU',
'00QD000000vOLVUMA4',
'00QD000000hdd8uMAA',
'00QD000000fTOEpMAO',
'00QD000000fRlNYMA0',
'00QD000000t4mWqMAI',
'00QD000000vOCxrMAG',
'00QD000000fS169MAC',
'00QD000000rYlVJMA0',
'00QD000000fT9m8MAC',
'00QD000000t4HQ9MAM',
'00QD000000hdUgjMAE',
'00QD000000he8xrMAA',
'00QD000000t4M55MAE',
'00QD000000lXCe3MAG',
'00QD000000t4JhkMAE',
'00QD000000vOGXYMA4',
'00QD000000k2m3CMAQ',
'00QD000000vONJVMA4',
'00QD000000vONQOMA4',
'00QD000000t4eErMAI',
'00QD000000t4DoBMAU',
'00QD000000pMZJhMAO',
'00QD000000fSB3WMAW',
'00QD000000t4QIWMA2',
'00QD000000fQz2jMAC',
'00QD000000vOEaBMAW',
'00QD000000fTOBTMA4',
'00QD000000fRIS1MAO',
'00QD000000vOGlhMAG',
'00QD000000xSNUkMAO',
'00QD000000t4l5sMAA',
'00QD0000011aDXFMA2',
'00QD000000zZxWSMA0',
'00QD000000fTg8kMAC',
'00QD000000pMhxLMAS',
'00QD000000fTzVdMAK',
'00QD000000k2L7FMAU',
'00QD000000fRaS2MAK',
'00QD000000fSzVWMA0',
'00QD000000fSuChMAK',
'00QD000000fReKOMA0',
'00QD000000pMYg0MAG',
'00QD000000fQk6YMAS',
'00QD00000141yc4MAA',
'00QD000000fRiAGMA0',
'00QD000000k2BYBMA2',
'00QD000000t2T0xMAE',
'00QD000000fSiuyMAC',
'00QD000000pMfamMAC',
'00QD000000f51ItMAI',
'00QD000000fRmd0MAC',
'00QD000000vOKlGMAW',
'00QD000000fTMHXMA4',
'00QD000000hdy9GMAQ',
'00QD000000jbRNmMAM',
'00QD000000fSlUzMAK',
'00QD000000jbN2IMAU',
'00QD0000010JQPLMA4',
'00QD00000140YWFMA2',
'00QD000000k2fd5MAA',
'00QD000000t4RiXMAU',
'00QD000000fShBIMA0',
'00QD000000fT2VRMA0',
'00QD000000fTMrNMAW',
'00QD000000fTxKLMA0',
'00QD000000fTskqMAC',
'00QD000000fRnhGMAS',
'00QD000000fT3dCMAS',
'00QD000000fRh2rMAC',
'00QD000000fT5rDMAS',
'00QD000000fTZ7fMAG',
'00QD000000xSEAVMA4',
'00QD000000wGGc8MAG',
'00QD000000vOJ2wMAG',
'00QD000000fT3t0MAC',
'00QD000000fTgdTMAS',
'00QD000000fS5VuMAK',
'00QD000000fRNV3MAO',
'00QD000000fTECOMA4',
'00QD000000fTC8PMAW',
'00QD000000xS9T1MAK',
'00QD000000fTMuGMAW',
'00QD000000fTQQoMAO',
'00QD000000heJmZMAU',
'00QD000000fTCAjMAO',
'00QD000000heDQmMAM',
'00QD000000yCRHmMAO',
'00QD000000yBoLfMAK',
'00QD000000fT2jPMAS',
'00QD000000pMj3GMAS',
'00QD000000pMhlrMAC',
'00QD000000pMegBMAS',
'00QD000000zZdrvMAC',
'00QD000000fTUPNMA4',
'00QD000000vrFpLMAU',
'00QD000000k2R09MAE',
'00QD000000t499rMAA',
'00QD000000pMiMNMA0',
'00QD000000pMfugMAC',
'00QD000000pMkMNMA0',
'00QD000000z4t7kMAA',
'00QD000000fTdw4MAC',
'00QD000000fTPdVMAW',
'00QD000000fTdM3MAK',
'00QD000000jbObKMAU',
'00QD000000fSlFmMAK',
'00QD000000pMfzoMAC',
'00QD000000xSAKFMA4',
'00QD000000k242EMAQ',
'00QD000000fTGbYMAW',
'00QD000000fSiwSMAS',
'00QD000000t4bslMAA',
'00QD000000f5bH9MAI',
'00QD000000yKZWcMAO',
'00QD000000xjmQ5MAI',
'00QD000000jcmzxMAA',
'00QD000000fT9ekMAC',
'00QD000000fTxUoMAK',
'00QD000000jZvNpMAK',
'00QD000000rYlaGMAS',
'00QD000000k2XjbMAE',
'00QD000000yBiZVMA0',
'00QD000000t4gL7MAI',
'00QD00000142JUlMAM',
'00QD000000k2WO8MAM',
'00QD000000xl6HTMAY',
'00QD000000f5Y97MAE',
'00QD000000t4OQtMAM',
'00QD000000xSP01MAG',
'00QD000000fRbMjMAK',
'00QD000000t4XzaMAE',
'00QD0000012KeTLMA0',
'00QD000000fTBO4MAO',
'00QD000000t4YFhMAM',
'00QD00000149cj8MAA',
'00QD000000qcxMJMAY',
'00QD000000fTQjkMAG',
'00QD000000fTBk5MAG',
'00QD000000t4PysMAE',
'00QD0000012IzX3MAK',
'00QD000000fSFckMAG',
'00QD000000fTo5FMAS',
'00QD000000jcl8xMAA',
'00QD0000013F5izMAC',
'00QD000000fTyYDMA0',
'00QD000000fShr4MAC',
'00QD000000fQs10MAC',
'00QD000000lXyb7MAC',
'00QD000000voi6UMAQ',
'00QD000000t4WqtMAE',
'00QD000000yCDF5MAO',
'00QD0000011aDV5MAM',
'00QD0000011aDJDMA2',
'00QD000000fTQJIMA4',
'00QD000000lX0pSMAS',
'00QD000000t4sseMAA',
'00QD000000pMcDGMA0',
'00QD000000fS2TKMA0',
'00QD000000pMkjQMAS',
'00QD000000f5aw4MAA',
'00QD000000fR8U2MAK',
'00QD000000vOMapMAG',
'00QD000000vOMgGMAW',
'00QD000000fRnG0MAK',
'00QD000000vOMJyMAO',
'00QD000000f5LT4MAM',
'00QD000000he6T9MAI',
'00QD000000vODxkMAG',
'00QD000000f5EKPMA2',
'00QD000000yKbppMAC',
'00QD000000fSy3LMAS',
'00QD000000hdhlUMAQ',
'00QD000000t4uTgMAI',
'00QD000000fRQWtMAO',
'00QD000000fRo2XMAS',
'00QD000000t4VdaMAE',
'00QD000000fRlLaMAK',
'00QD000000fRhOYMA0',
'00QD000000fReycMAC',
'00QD000000fSCOmMAO',
'00QD000000xRvpuMAC',
'00QD000000fTqClMAK',
'00QD000000vOGRLMA4',
'00QD000000t47khMAA',
'00QD000000fSzu3MAC',
'00QD000000k2IEZMA2',
'00QD000000fT31KMAS',
'00QD000000hdbzLMAQ',
'00QD000000fSifXMAS',
'00QD000000jZjaDMAS',
'00QD000000t4PGeMAM',
'00QD000000f585mMAA',
'00QD000000fSzl1MAC',
'00QD000000fR51KMAS',
'00QD000000fT0z0MAC',
'00QD000000fRhJHMA0',
'00QD000000fRsglMAC',
'00QD000000fjykZMAQ',
'00QD000000fTQw2MAG',
'00QD000000hdnugMAA',
'00QD000000f5N7LMAU',
'00QD000000fRrTeMAK',
'00QD000000pMYftMAG',
'00QD000000jbSYXMA2',
'00QD000000fT70WMAS',
'00QD000000k2hR7MAI',
'00QD000000fSxHQMA0',
'00QD0000011aDWTMA2',
'00QD000000fTMDBMA4',
'00QD000000z69BbMAI',
'00QD000000f5G6UMAU',
'00QD000000fSqznMAC',
'00QD000000fRpDxMAK',
'00QD000000fTNTLMA4',
'00QD000000fSur5MAC',
'00QD000000fToQHMA0',
'00QD000000jZeX1MAK',
'00QD000000heL6LMAU',
'00QD000000jcVXbMAM',
'00QD000000jZikwMAC',
'00QD000000fT19wMAC',
'00QD000000fTdGIMA0',
'00QD000000fTA8HMAW',
'00QD000000k2GqkMAE',
'00QD000000k275gMAA',
'00QD000000vONHsMAO',
'00QD000000hdntlMAA',
'00QD000000t453WMAQ',
'00QD000000xSNfwMAG',
'00QD000000xSNm7MAG',
'00QD000000z4tFxMAI',
'00QD000000rXmN7MAK',
'00QD000000vOCGYMA4',
'00QD000000fTvJCMA0',
'00QD000000fTIobMAG',
'00QD000000k29rfMAA',
'00QD000000he8yWMAQ',
'00QD000000fTBeEMAW',
'00QD000000vOBtfMAG',
'00QD000000fSsIbMAK',
'00QD000000k2d5TMAQ',
'00QD000000fTdV8MAK',
'00QD000000k2FOSMA2',
'00QD000000qEs0JMAS',
'00QD000000pMkhbMAC',
'00QD000000fSqLeMAK',
'00QD000000fRlmqMAC',
'00QD000000fQicdMAC',
'00QD000000fQlDbMAK',
'00QD000000fStRsMAK',
'00QD000000t3zRUMAY',
'00QD000000fTwLJMA0',
'00QD000000fRo6aMAC',
'00QD000000x9WHjMAM',
'00QD000000vOLx1MAG',
'00QD000000t4FX1MAM',
'00QD000000t48sRMAQ',
'00QD000000fSmzsMAC',
'00QD000000fRG12MAG',
'00QD000000fRlLjMAK',
'00QD000000z7ExPMAU',
'00QD000000fTThYMAW',
'00QD000000fRiRCMA0',
'00QD000000fSAawMAG',
'00QD000000jZZX2MAO',
'00QD000000f5fBAMAY',
'00QD000000f5SpQMAU',
'00QD000000f4yKHMAY',
'00QD000000t44NgMAI',
'00QD000000lX6vAMAS',
'00QD000000lXC8JMAW',
'00QD000000k2mTlMAI',
'00QD000000k23XpMAI',
'00QD000000jcn7NMAQ',
'00QD000000fS0ccMAC',
'00QD000000fSGBWMA4',
'00QD000000lX10bMAC',
'00QD000000heL4EMAU',
'00QD000000jbQCdMAM',
'00QD000000pMVUUMA4',
'00QD000000fSH1XMAW',
'00QD000000voerOMAQ',
'00QD000000t4VcLMAU',
'00QD000000fTUK8MAO',
'00QD000000fRdWZMA0',
'00QD000000fTrFDMA0',
'00QD000000xhhuKMAQ',
'00QD000000heKVJMA2',
'00QD0000010l2vaMAA',
'00QD000000fRKVfMAO',
'00QD000000pMjHPMA0',
'00QD000000qEee0MAC',
'00QD000000lXC49MAG',
'00QD000000pMWtqMAG',
'00QD000000pMVK9MAO',
'00QD000000pMdkTMAS',
'00QD000000pMVgkMAG',
'00QD000000qEjIcMAK',
'00QD000000t489PMAQ',
'00QD000000hdsGTMAY',
'00QD000000pMj1qMAC',
'00QD000000pMX0xMAG',
'00QD000000fRga2MAC',
'00QD000000pMhEaMAK',
'00QD000000fTzvWMAS',
'00QD000000k2K7hMAE',
'00QD000000fTU5rMAG',
'00QD000000fTU8TMAW',
'00QD000000fT9bxMAC',
'00QD000000fTM6mMAG',
'00QD000000qEkKXMA0',
'00QD000000jbX5BMAU',
'00QD000000t43nSMAQ',
'00QD000000fTXKuMAO',
'00QD000000fTjelMAC',
'00QD000000jZfgIMAS',
'00QD000000hdwtxMAA',
'00QD000000vONCRMA4',
'00QD000000fTB32MAG',
'00QD000000heL3qMAE',
'00QD000000fRxYhMAK',
'00QD000000yCQGIMA4',
'00QD000000fRn67MAC',
'00QD000000x9RNBMA2',
'00QD000000fRxqNMAS',
'00QD000000fRnZkMAK',
'00QD000000fTRQhMAO',
'00QD000000f5BUfMAM',
'00QD000000hcs3qMAA',
'00QD000000fSz1wMAC',
'00QD000000qEk7vMAC',
'00QD000000x9S3PMAU',
'00QD000000lX8ruMAC',
'00QD000000jbKuRMAU',
'00QD000000jcZ9HMAU',
'00QD000000fk7uPMAQ',
'00QD000000fTLohMAG',
'00QD000000fRjPRMA0',
'00QD000000pMZ5JMAW',
'00QD000000t44rwMAA',
'00QD000000t4A9XMAU',
'00QD000000hdbzrMAA',
'00QD000000fTgJdMAK',
'00QD000000fTigLMAS',
'00QD000000fS2E2MAK',
'00QD000000fTWv5MAG',
'00QD000000fStwGMAS',
'00QD000000fSjiKMAS',
'00QD000000fSjI2MAK',
'00QD000000fTiYdMAK',
'00QD000000fTNVoMAO',
'00QD000000fSu6yMAC',
'00QD000000fSttHMAS',
'00QD000000fShp7MAC',
'00QD000000fS9KtMAK',
'00QD000000fjzrZMAQ',
'00QD000000fS7ZTMA0',
'00QD000000hdgjwMAA',
'00QD000000t44EnMAI',
'00QD000000fTpWHMA0',
'00QD000000fTNWVMA4',
'00QD000000fT5HvMAK',
'00QD000000fT5J0MAK',
'00QD000000fT1RPMA0',
'00QD000000fTEzGMAW',
'00QD000000fTAF6MAO',
'00QD000000lX8ThMAK',
'00QD000000fRm95MAC',
'00QD000000fRz4NMAS',
'00QD000000pMZChMAO',
'00QD000000t4hCTMAY',
'00QD000000fThi3MAC',
'00QD000000fSxDLMA0',
'00QD000000fS1vkMAC',
'00QD000000fTrivMAC',
'00QD000000pMi9lMAC',
'00QD000000vOMJtMAO',
'00QD000000lX2URMA0',
'00QD000000t4fVRMAY',
'00QD000000vOKFQMA4',
'00QD000000lX3kPMAS',
'00QD000000jbT3YMAU',
'00QD000000jbV5yMAE',
'00QD000000vOD9CMAW',
'00QD000000jZidnMAC',
'00QD000000vOKTFMA4',
'00QD000000fT8qrMAC',
'00QD000000fRqGlMAK',
'00QD000000vONIuMAO',
'00QD000000fRpEhMAK',
'00QD000000fT2ASMA0',
'00QD0000014Y0kuMAC',
'00QD000000fT9bZMAS',
'00QD000000fRvBQMA0',
'00QD000000fSnzmMAC',
'00QD000000hdedEMAQ',
'00QD000000lX2MjMAK',
'00QD000000pMVBbMAO',
'00QD000000sBOyIMAW',
'00QD000000fSp4xMAC',
'00QD000000fT6gwMAC',
'00QD000000z6lYHMAY',
'00QD000000fT0FfMAK',
'00QD000000fTWgrMAG',
'00QD000000fRwetMAC',
'00QD000000jbZ69MAE',
'00QD000000rYlTyMAK',
'00QD000000t4JhtMAE',
'00QD000000fTSoyMAG',
'00QD000000t4E6jMAE',
'00QD000000fTB8fMAG',
'00QD000000t4DWfMAM',
'00QD000000xSOsHMAW',
'00QD000000hdUg8MAE',
'00QD000000pMfstMAC',
'00QD000000fRr5kMAC',
'00QD000000fRzcSMAS',
'00QD000000vNHoAMAW',
'00QD000000fT8KLMA0',
'00QD000000pMXDmMAO',
'00QD000000fRWKnMAO',
'00QD000000fRcrLMAS',
'00QD000000fRjmWMAS',
'00QD000000fQsYUMA0',
'00QD000000xheb1MAA',
'00QD000000fU09FMAS',
'00QD000000fSGm5MAG',
'00QD000000jZnAbMAK',
'00QD000000fTY6pMAG',
'00QD000000fTy12MAC',
'00QD000000vOIEkMAO',
'00QD000000t44OhMAI',
'00QD000000vOeWIMA0',
'00QD000000vOHQkMAO',
'00QD000000vODZiMAO',
'00QD000000t44NlMAI',
'00QD000000wDyqtMAC',
'00QD0000010oMdqMAE',
'00QD000000yN4GvMAK',
'00QD000000t44FOMAY',
'00QD000000f5eVIMAY',
'00QD000000t4QrEMAU',
'00QD000000fRlw8MAC',
'00QD000000t4blRMAQ',
'00QD000000fT8JuMAK',
'00QD000000fRo4GMAS',
'00QD000000t4Fn5MAE',
'00QD000000gVa3UMAS',
'00QD000000fTrmLMAS',
'00QD000000t4Yg1MAE',
'00QD000000fTNbuMAG',
'00QD000000rYlbeMAC',
'00QD000000vONRVMA4',
'00QD000000vONRPMA4',
'00QD000000vONQcMAO',
'00QD000000rJjxGMAS',
'00QD000000fT6DBMA0',
'00QD000000fTYiNMAW',
'00QD000000pMWGwMAO',
'00QD000000jbTaFMAU',
'00QD000000fQxGmMAK',
'00QD000000t42RzMAI',
'00QD000000pMZgxMAG',
'00QD000000rYln2MAC',
'00QD000000t4UdXMAU',
'00QD000000xkQDAMA2',
'00QD000000t42QNMAY',
'00QD000000t41ycMAA',
'00QD000000t45QCMAY',
'00QD000000t40vBMAQ',
'00QD000000t40ldMAA',
'00QD000000jZgw7MAC',
'00QD000000vOGlCMAW',
'00QD000000fSpWtMAK',
'00QD000000k2PR3MAM',
'00QD000000t41cqMAA',
'00QD000000t40b4MAA',
'00QD000000fRxpRMAS',
'00QD000000fU0eaMAC',
'00QD000000heCgvMAE',
'00QD000000fRi8DMAS',
'00QD000000f5JoHMAU',
'00QD000000fQwHBMA0',
'00QD000000t4AitMAE',
'00QD000000vOJFLMA4',
'00QD000000f53QAMAY',
'00QD000000fRnQDMA0',
'00QD000000fTo2jMAC',
'00QD000000t48aDMAQ',
'00QD000000hdVSTMA2',
'00QD000000zZHU0MAO',
'00QD000000fTzoVMAS',
'00QD000000z60S4MAI',
'00QD000000pMjGwMAK',
'00QD000000fRfzQMAS',
'00QD000000fTnlaMAC',
'00QD000000fT1u4MAC',
'00QD000000fTzN3MAK',
'00QD000000f5PuvMAE',
'00QD000000fU02xMAC',
'00QD000000fTzlBMAS',
'00QD000000zXFaEMAW',
'00QD000000fSkCMMA0',
'00QD000000fQqI5MAK',
'00QD000000hdu8UMAQ',
'00QD000000heCZHMA2',
'00QD000000fTRYGMA4',
'00QD000000heGihMAE',
'00QD000000fSzh1MAC',
'00QD000000fTi1LMAS',
'00QD000000fTUTHMA4',
'00QD000000t4OzXMAU',
'00QD000000t4IixMAE',
'00QD000000hdy9nMAA',
'00QD000000fQkucMAC',
'00QD000000t4QQRMA2',
'00QD000000fRjqKMAS',
'00QD000000pMZNHMA4',
'00QD000000t4PYVMA2',
'00QD000000vOMJvMAO',
'00QD000000jbW1PMAU',
'00QD000000fRixVMAS',
'00QD000000lX91mMAC',
'00QD000000pMf5rMAC',
'00QD000000hdntpMAA',
'00QD000000f5ErGMAU',
'00QD000000fT2hvMAC',
'00QD000000fTzCGMA0',
'00QD000000fTnpsMAC',
'00QD000000fTWbpMAG',
'00QD000000hdorFMAQ',
'00QD000000fTCbxMAG',
'00QD000000fT7QFMA0',
'00QD000000jciY8MAI',
'00QD000000rYloeMAC',
'00QD000000fRsdsMAC',
'00QD000000fSBNtMAO',
'00QD000000f50UoMAI',
'00QD000000fT7mtMAC',
'00QD000000heIuIMAU',
'00QD000000hdxyAMAQ',
'00QD000000fRgtbMAC',
'00QD000000t450bMAA',
'00QD000000f5McMMAU',
'00QD000000fT3ojMAC',
'00QD000000fSz8XMAS',
'00QD000000fTydiMAC',
'00QD000000fSwkgMAC',
'00QD000000jbVPMMA2',
'00QD000000jZdPwMAK',
'00QD0000010KInUMAW',
'00QD0000011aDV7MAM',
'00QD000000fT0YoMAK',
'00QD000000fTSFMMA4',
'00QD000000fTUu8MAG',
'00QD000000heDszMAE',
'00QD0000010JVbMMAW',
'00QD000000fTbe4MAC',
'00QD000000t42C5MAI',
'00QD000000fSOLNMA4',
'00QD000000fToLHMA0',
'00QD000000heAIOMA2',
'00QD000000fT8sxMAC',
'00QD000000heIiKMAU',
'00QD000000fU0DpMAK',
'00QD000000fRGg6MAG',
'00QD000000pMjxyMAC',
'00QD000000fTTx1MAG',
'00QD000000fT7jeMAC',
'00QD000000fTcABMA0',
'00QD000000fT4smMAC',
'00QD000000fS0gSMAS',
'00QD000000fTU9WMAW',
'00QD000000fT1DzMAK',
'00QD000000fT6UGMA0',
'00QD000000t42kXMAQ',
'00QD000000jcmifMAA',
'00QD000000heGooMAE',
'00QD000000lX3kfMAC',
'00QD000000k2a86MAA',
'00QD000000hdnuIMAQ',
'00QD000000fTPoSMAW',
'00QD000000heDP7MAM',
'00QD000000t4808MAA',
'00QD000000lX920MAC',
'00QD000000fTXtgMAG',
'00QD000000fTOfUMAW',
'00QD000000t4IHTMA2',
'00QD0000011aDGTMA2',
'00QD000000pMgJuMAK',
'00QD000000fSs3vMAC',
'00QD000000z68zlMAA',
'00QD000000fSxfYMAS',
'00QD000000uhEkwMAE',
'00QD0000010KKNdMAO',
'00QD000000fTXtqMAG',
'00QD000000fT22jMAC',
'00QD000000fTRVLMA4',
'00QD000000fTVGjMAO',
'00QD000000fRBahMAG',
'00QD000000t42e4MAA',
'00QD000000fT5ckMAC',
'00QD000000vpFTRMA2',
'00QD000000fT78mMAC',
'00QD000000pMjFnMAK',
'00QD000000k22ijMAA',
'00QD000000pMidrMAC',
'00QD000000jbXCNMA2',
'00QD000000jcoHgMAI',
'00QD000000k2Pv3MAE',
'00QD000000fTSQuMAO',
'00QD000000fRQmiMAG',
'00QD000000fTXwOMAW',
'00QD000000pMe9KMAS',
'00QD000000jZk6nMAC',
'00QD000000jZfpZMAS',
'00QD000000fTv76MAC',
'00QD000000jbW26MAE',
'00QD000000fREeOMAW',
'00QD000000xhgtCMAQ',
'00QD000000xiDo2MAE',
'00QD000000wFHxZMAW',
'00QD000000fTYmxMAG',
'00QD0000014ZWI6MAO',
'00QD000000fToQQMA0',
'00QD000000jbY8bMAE',
'00QD0000010m179MAA',
'00QD000000fTqMXMA0',
'00QD000000jbQSvMAM',
'00QD000000k24iNMAQ',
'00QD000000fTz4iMAC',
'00QD000000x9Uq3MAE',
'00QD000000fSyCGMA0',
'00QD000000t459nMAA',
'00QD000000jbJNgMAM',
'00QD000000fTzTWMA0',
'00QD000000fT8GpMAK',
'00QD000000fT08iMAC',
'00QD000000fTxYKMA0',
'00QD000000fStMvMAK',
'00QD000000jccnlMAA',
'00QD000000fT9OUMA0',
'00QD000000vOAnYMAW',
'00QD000000t4EyBMAU',
'00QD000000vOKw6MAG',
'00QD000000t4k75MAA',
'00QD000000hdntqMAA',
'00QD000000fS3KQMA0',
'00QD000000ra69kMAA',
'00QD000000fTsBfMAK',
'00QD000000k2Cw6MAE',
'00QD000000t4BZBMA2',
'00QD000000t4g3RMAQ',
'00QD000000fT3d3MAC',
'00QD000000fSkunMAC',
'00QD000000t46ubMAA',
'00QD000000fTelhMAC',
'00QD000000t472xMAA',
'00QD000000fSpm5MAC',
'00QD0000010KK45MAG',
'00QD000000jbVxUMAU',
'00QD000000t4DgXMAU',
'00QD0000011aDEbMAM',
'00QD000000rYlpgMAC',
'00QD000000qEnhyMAC',
'00QD000000fT8tdMAC',
'00QD000000fSKCBMA4',
'00QD000000fRCVEMA4',
'00QD000000jbWtLMAU',
'00QD000000fTMxOMAW',
'00QD000000fRB7jMAG',
'00QD000000k2ZVkMAM',
'00QD0000014ZCSIMA4',
'00QD000000qEnBQMA0',
'00QD000000t41naMAA',
'00QD000000fSzeuMAC',
'00QD000000fTQqTMAW',
'00QD000000jbYZFMA2',
'00QD000000fRhWyMAK',
'00QD000000x9Ur2MAE',
'00QD000000fT2QgMAK',
'00QD000000fT8FHMA0',
'00QD000000k2fyBMAQ',
'00QD000000fTDPiMAO',
'00QD000000lXCE7MAO',
'00QD000000t4feuMAA',
'00QD000000k2YuTMAU',
'00QD000000fT1TAMA0',
'00QD000000fT69AMAS',
'00QD000000hdnuYMAQ',
'00QD000000hdbzkMAA',
'00QD000000fSC1eMAG',
'00QD000000f5XimMAE',
'00QD000000k2T7YMAU',
'00QD000000qEwpsMAC',
'00QD000000fSiXpMAK',
'00QD000000k2WnUMAU',
'00QD000000fTwZGMA0',
'00QD000000fSLRrMAO',
'00QD000000fTKo9MAG',
'00QD000000f5e0PMAQ',
'00QD000000t41eXMAQ',
'00QD000000pMkWZMA0',
'00QD000000jZlPGMA0',
'00QD000000fT2inMAC',
'00QD000000qEdTxMAK',
'00QD000000x9RbwMAE',
'00QD000000t4ewoMAA',
'00QD000000fR3v5MAC',
'00QD000000k22oxMAA',
'00QD000000f5el4MAA',
'00QD000000fTS7wMAG',
'00QD000000k2pKZMAY',
'00QD000000hdjYiMAI',
'00QD000000hdhlDMAQ',
'00QD000000hdu8MMAQ',
'00QD000000k2BWjMAM',
'00QD0000010l4WzMAI',
'00QD000000hdktOMAQ',
'00QD000000rYlOYMA0',
'00QD000000xSP3CMAW',
'00QD000000hdoqxMAA',
'00QD000000fRMOeMAO',
'00QD000000vOMR7MAO',
'00QD000000jcdoLMAQ',
'00QD000000xRxNAMA0',
'00QD000000xhiXFMAY',
'00QD000000zZwnzMAC',
'00QD0000010JvoEMAS',
'00QD000000f5UxZMAU',
'00QD000000fQqWWMA0',
'00QD000000fSoGFMA0',
'00QD000000fTUPuMAO',
'00QD000000k2J8MMAU',
'00QD000000fTR7oMAG',
'00QD000000jZmf0MAC',
'00QD000000fTLTgMAO',
'00QD000000k2jQCMAY',
'00QD000000fTQYwMAO',
'00QD000000pMftJMAS',
'00QD000000hdW4KMAU',
'00QD0000010KnuQMAS',
'00QD000000fTv7KMAS',
'00QD000000fTzY6MAK',
'00QD000000fTcbTMAS',
'00QD000000xSOjyMAG',
'00QD000000fRmF0MAK',
'00QD000000jZaUKMA0',
'00QD000000fTLkGMAW',
'00QD000000x6bDxMAI',
'00QD000000vOKFMMA4',
'00QD000000t45yvMAA',
'00QD000000x9XXoMAM',
'00QD000000fRiOSMA0',
'00QD000000pMPUXMA4',
'00QD000000f5FcsMAE',
'00QD000000fR31SMAS',
'00QD000000qcy2xMAA',
'00QD000000hdwssMAA',
'00QD000000hdu8NMAQ',
'00QD000000fT9R3MAK',
'00QD000000gVa9fMAC',
'00QD000000fTNSyMAO',
'00QD000000fT4aLMAS',
'00QD000000fT0i1MAC',
'00QD000000fS5FWMA0',
'00QD0000011aDHPMA2',
'00QD000000qEw3hMAC',
'00QD000000fTUG2MAO',
'00QD000000fSAXQMA4',
'00QD000000f5bKtMAI',
'00QD000000fTkcEMAS',
'00QD000000fjwVsMAI',
'00QD000000fSAVfMAO',
'00QD000000heLT8MAM',
'00QD000000fR52tMAC',
'00QD000000fTuvjMAC',
'00QD000000xRwDdMAK',
'00QD000000fTSVyMAO',
'00QD000000pMVr7MAG',
'00QD0000010JeOlMAK',
'00QD000000hdjZ0MAI',
'00QD000000pMb43MAC',
'00QD000000fQsZrMAK',
'00QD000000fTLpTMAW',
'00QD000000jZvNHMA0',
'00QD000000qcy7nMAA',
'00QD000000fSzHWMA0',
'00QD000000fS6V5MAK',
'00QD000000f5G3qMAE',
'00QD000000fSA4EMAW',
'00QD000000pMiQaMAK',
'00QD000000fTQZMMA4',
'00QD000000fRlRCMA0',
'00QD000000t4OY2MAM',
'00QD000000t41I0MAI',
'00QD000000fSjbdMAC',
'00QD000000fROZTMA4',
'00QD000000hdVSZMA2',
'00QD0000010lN3rMAE',
'00QD000000fTIqdMAG',
'00QD000000k2eYQMAY',
'00QD000000jbKlQMAU',
'00QD000000fRb92MAC',
'00QD000000fRnifMAC',
'00QD000000hdmh4MAA',
'00QD000000fRe0gMAC',
'00QD000000t41FrMAI',
'00QD000000fTNBAMA4',
'00QD000000fTVu2MAG',
'00QD000000pMeEdMAK',
'00QD000000fT0POMA0',
'00QD000000fTLKuMAO',
'00QD000000fRfOKMA0',
'00QD000000fTvigMAC',
'00QD000000fRlRkMAK',
'00QD000000fTumBMAS',
'00QD000000xjn0KMAQ',
'00QD000000t4WacMAE',
'00QD000000t4BhoMAE',
'00QD000000heCfVMAU',
'00QD000000t4AbZMAU',
'00QD000000vOG9UMAW',
'00QD000000k22cKMAQ',
'00QD000000xS9TkMAK',
'00QD000000fSL2EMAW',
'00QD000000vOFG8MAO',
'00QD000000fTlemMAC',
'00QD000000fTqMmMAK',
'00QD000000xjnmAMAQ',
'00QD000000t4DwRMAU',
'00QD000000fTZVyMAO',
'00QD000000heFEGMA2',
'00QD000000t461uMAA',
'00QD000000fS4zDMAS',
'00QD000000fQgMBMA0',
'00QD000000fjygoMAA',
'00QD000000fSpnuMAC',
'00QD000000fSLHhMAO',
'00QD000000t4TMiMAM',
'00QD000000jbJTiMAM',
'00QD000000fRqWXMA0',
'00QD000000jbK6WMAU',
'00QD000000fRXcuMAG',
'00QD000000fTisxMAC',
'00QD000000fTiScMAK',
'00QD000000ja6mQMAQ',
'00QD000000fSquhMAC',
'00QD000000t4A1uMAE',
'00QD000000jZsNNMA0',
'00QD000000voZinMAE',
'00QD000000fTEzzMAG',
'00QD000000fTPWAMA4',
'00QD000000k2MOJMA2',
'00QD000000jbPb8MAE',
'00QD000000fTmncMAC',
'00QD000000rYluYMAS',
'00QD000000k2iOvMAI',
'00QD00000142oEaMAI',
'00QD000000k2Dc3MAE',
'00QD000000fSqiWMAS',
'00QD000000fTpoGMAS',
'00QD000000fTRnNMAW',
'00QD000000hda68MAA',
'00QD000000fRbA9MAK',
'00QD000000fRsefMAC',
'00QD000000fRiLLMA0',
'00QD000000fRpZnMAK',
'00QD0000011aDSWMA2',
'00QD000000yMzLPMA0',
'00QD000000fTB3xMAG',
'00QD0000010l0VsMAI',
'00QD0000014ZfjaMAC',
'00QD000000fRByeMAG',
'00QD000000fSpRiMAK',
'00QD000000hdbzQMAQ',
'00QD000000hde73MAA',
'00QD000000t4CGDMA2',
'00QD000000z6oHiMAI',
'00QD0000010l5UpMAI',
'00QD000000xSEUeMAO',
'00QD0000011aDM4MAM',
'00QD000000vohgeMAA',
'00QD000000heGZfMAM',
'00QD0000010mBqIMAU',
'00QD000000fRtaZMAS',
'00QD000000f5IZBMA2',
'00QD000000t4IHOMA2',
'00QD0000012tXzYMAU',
'00QD000000jbJOgMAM',
'00QD000000fT2ENMA0',
'00QD000000fSzh4MAC',
'00QD000000fT0zEMAS',
'00QD000000fS523MAC',
'00QD000000jZewNMAS',
'00QD000000fRaLWMA0',
'00QD000000fTQYBMA4',
'00QD000000z4rJGMAY',
'00QD000000f5WcQMAU',
'00QD000000jcgSuMAI',
'00QD000000fQkoGMAS',
'00QD0000011ZS8jMAG',
'00QD0000010o04gMAA',
'00QD000000fTxK3MAK',
'00QD000000fTzZNMA0',
'00QD000000o6lgMMAQ',
'00QD000000jcYdtMAE',
'00QD000000yvfXpMAI',
'00QD000000o6mloMAA',
'00QD000000o6lnWMAQ',
'00QD0000012rC6EMAU',
'00QD000000xS1E4MAK',
'00QD000000fkBu9MAE',
'00QD000000fT0k5MAC',
'00QD000000zZHTrMAO',
'00QD0000010n2QJMAY',
'00QD000000hdhj7MAA',
'00QD000000zZxxtMAC',
'00QD000000fTJMcMAO',
'00QD0000011aDIuMAM',
'00QD000000fT4r3MAC',
'00QD000000vOG7NMAW',
'00QD000000vOMg7MAG',
'00QD000000jbUtFMAU',
'00QD000000xSNVMMA4',
'00QD000000fSogEMAS',
'00QD000000xSNMLMA4',
'00QD000000fRErAMAW',
'00QD000000fSwIFMA0',
'00QD0000011aDOWMA2',
'00QD000000fS9tCMAS',
'00QD000001419JdMAI',
'00QD000000t4JQxMAM',
'00QD000000fT1jRMAS',
'00QD000000zanhNMAQ',
'00QD000000t3zItMAI',
'00QD0000010nOBhMAM',
'00QD000000f57I9MAI',
'00QD000000yKZxDMAW',
'00QD0000010KLAHMA4',
'00QD000000k2DcAMAU',
'00QD000000yKc0iMAC',
'00QD000000xSP4oMAG',
'00QD000000yBwwEMAS',
'00QD0000010IfTrMAK',
'00QD000000xS7RZMA0',
'00QD000000pMb9xMAC',
'00QD000000ja4zQMAQ',
'00QD000000fT5AVMA0',
'00QD0000010KbDnMAK',
'00QD000000fTONFMA4',
'00QD000000fRbBOMA0',
'00QD000000f5MosMAE',
'00QD0000014ZfkUMAS',
'00QD000000zZdLmMAK',
'00QD000000yKZmzMAG',
'00QD000000k2R7MMAU',
'00QD0000011aDIdMAM',
'00QD0000011aDWPMA2',
'00QD0000011aDKNMA2',
'00QD000000yvfRLMAY',
'00QD0000010kdFDMAY',
'00QD000000jcbv5MAA',
'00QD0000014az5fMAA',
'00QD0000014ayi9MAA',
'00QD0000014aydUMAQ',
'00QD000000fTPsLMAW',
'00QD0000010KmwMMAS',
'00QD000000fRPjkMAG',
'00QD0000011aM9tMAE',
'00QD000000pMZB5MAO',
'00QD0000014azD1MAI',
'00QD0000010mUs1MAE',
'00QD000000z4tV6MAI',
'00QD000000pMkN6MAK',
'00QD000000xS7jrMAC',
'00QD000000xSODJMA4',
'00QD0000011a9DzMAI',
'00QD000000jbRPaMAM',
'00QD000000hdxwrMAA',
'00QD000000fTLN4MAO',
'00QD0000014ayISMAY',
'00QD000000xSClRMAW',
'00QD0000011cNTMMA2',
'00QD000000k2Es4MAE',
'00QD0000014axqfMAA',
'00QD000000zZHTwMAO',
'00QD0000014ay2GMAQ',
'00QD000000fTTYZMA4',
'00QD000000fT0JKMA0',
'00QD0000010m9knMAA',
'00QD000000z68zzMAA',
'00QD000000zYo2XMAS',
'00QD0000014ayQhMAI',
'00QD0000011aosLMAQ',
'00QD0000012JGeCMAW',
'00QD000000fS8gbMAC',
'00QD0000011aGpbMAE',
'00QD0000012r2DbMAI',
'00QD000000fTLPTMA4',
'00QD0000010nzG9MAI',
'00QD0000011ZOgXMAW',
'00QD0000012LVsoMAG',
'00QD0000012Js8rMAC',
'00QD0000012KYvdMAG',
'00QD000000zaXTaMAM',
'00QD0000011bLfMMAU',
'00QD0000010JeOVMA0',
'00QD0000012JeIrMAK',
'00QD0000010KCmaMAG',
'00QD0000012LGt6MAG',
'00QD0000011ZOiCMAW',
'00QD0000012s9CTMAY',
'00QD0000012t6MxMAI',
'00QD0000010K5tqMAC',
'00QD0000013YYGtMAO',
'00QD000000lX0ofMAC',
'00QD000001408RBMAY',
'00QD000000t4suHMAQ',
'00QD00000140MtuMAE',
'00QD000001419I5MAI',
'00QD00000149hibMAA',
'00QD0000010JvmSMAS',
'00QD0000013F5fEMAS',
'00QD0000013WvlMMAS',
'00QD0000014Y3roMAC',
'00QD0000014XYyTMAW',
'00QD000000fTuKKMA0',
'00QD000000fSjbXMAS',
'00QD00000149n8RMAQ',
'00QD000000fTy3SMAS',
'00QD000000t3z9qMAA',
'00QD0000012ryh8MAA',
'00QD0000013aM4cMAE',
'00QD00000142oGeMAI',
'00QD0000012JGerMAG',
'00QD00000149hkGMAQ',
'00QD0000014Z3IfMAK',
'00QD0000014YrFLMA0',
'00QD0000014ZRf6MAG',
'00QD0000014ZroKMAS',
'00QD00000142jHzMAI',
'00QD000000fSlOfMAK',
'00QD000000t4X9VMAU',
'00QD0000011ZlhoMAC',
'00QD000000z6p8MMAQ',
'00QD000000fRcsGMAS',
'00QD000000fTMFwMAO',
'00QD000000xSOegMAG',
'00QD000000vOF2IMAW',
'00QD0000014ZWJ3MAO',
'00QD0000012uRJPMA2',
'00QD000000fT6G3MAK',
'00QD000000x9SM6MAM',
'00QD000000z6oJ3MAI',
'00QD000000jZenkMAC',
'00QD000000fTTBvMAO',
'00QD000000fTQl9MAG',
'00QD000000xSNXBMA4',
'00QD000000t482BMAQ',
'00QD000000fRl0DMAS',
'00QD000000fReJWMA0',
'00QD0000014XOPTMA4',
'00QD0000010oVEZMA2',
'00QD0000010l4ssMAA',
'00QD000000qcxgXMAQ',
'00QD000000fSnDpMAK',
'00QD0000014azNzMAI',
'00QD0000014ayl5MAA',
'00QD000000fQjBvMAK',
'00QD000000yBmcjMAC',
'00QD0000014auZeMAI',
'00QD000000t4LaRMAU',
'00QD000000xSHLYMA4',
'00QD0000014auXuMAI',
'00QD0000010nQ7gMAE',
'00QD0000010kzJ1MAI',
'00QD000000yCD4zMAG',
'00QD000000xS79ZMAS',
'00QD0000011a9UYMAY',
'00QD0000011aDdMMAU',
'00QD0000011aDOlMAM',
'00QD0000014aubTMAQ',
'00QD000000z6mT3MAI',
'00QD000000f5297MAA',
'00QD0000011aDMfMAM',
'00QD000000zabeFMAQ',
'00QD00000149n6bMAA',
'00QD000000hdkvXMAQ',
'00QD0000013ZgKIMA0',
'00QD0000010m9jcMAA',
'00QD000000fTQaBMAW',
'00QD000000pMg0uMAC',
'00QD000000fRzvxMAC',
'00QD000000fSzMsMAK',
'00QD00000149hemMAA',
'00QD000000jZd5DMAS',
'00QD0000011a9KIMAY',
'00QD0000013aFhFMAU',
'00QD0000012tjZcMAI',
'00QD000000fTMQrMAO',
'00QD0000012IzWeMAK',
'00QD0000010KJ5fMAG',
'00QD0000010KL2fMAG',
'00QD0000014auIaMAI',
'00QD000000yvgegMAA',
'00QD0000014au7oMAA',
'00QD0000014au88MAA',
'00QD0000011aDFbMAM',
'00QD000000t4hCAMAY',
'00QD0000010L9SQMA0',
'00QD0000011aDLWMA2',
'00QD0000010m136MAA',
'00QD000000yvnGgMAI',
'00QD000000xkaTwMAI',
'00QD0000013zoqlMAA',
'00QD0000011ZEMxMAO',
'00QD000000jZl99MAC',
'00QD0000014b9OQMAY',
'00QD0000011aDbuMAE',
'00QD000000xSO8FMAW',
'00QD0000014au2gMAA',
'00QD0000014atyhMAA',
'00QD000000xRxNYMA0',
'00QD0000011aDZRMA2',
'00QD0000014ayz8MAA',
'00QD000000zXEDIMA4',
'00QD00000142t82MAA',
'00QD0000012slWAMAY',
'00QD000000jbLzPMAU',
'00QD0000010KJj4MAG',
'00QD000000fTgSyMAK',
'00QD000000jbKflMAE',
'00QD000000fT1OQMA0',
'00QD000000fTzzoMAC',
'00QD0000010Ko8GMAS',
'00QD0000010LBq5MAG',
'00QD0000011auXeMAI',
'00QD0000010Ka48MAC',
'00QD0000011ancCMAQ',
'00QD0000011a96TMAQ',
'00QD000000xRoQzMAK',
'00QD0000014az0LMAQ',
'00QD0000014azXxMAI',
'00QD0000011aDQGMA2',
'00QD000001401e9MAA',
'00QD0000012LGsmMAG',
'00QD000000k2NxfMAE',
'00QD0000011aDGIMA2',
'00QD000000fTvKXMA0',
'00QD000000fTSoqMAG',
'00QD000000mvr7TMAQ',
'00QD0000011aDW6MAM',
'00QD000000fSKDoMAO',
'00QD0000012t9U4MAI',
'00QD000000fRvUlMAK',
'00QD000000z6mREMAY',
'00QD000000xSNL7MAO',
'00QD000000zXES1MAO',
'00QD000000xSOvkMAG',
'00QD000000fRH5pMAG',
'00QD0000011alfrMAA',
'00QD0000011aDNrMAM',
'00QD000000fRlQdMAK',
'00QD000000hdlL8MAI',
'00QD000000jbW9xMAE',
'00QD000000fSivYMAS',
'00QD0000011a8rKMAQ',
'00QD000000xSPKgMAO',
'00QD000000xS1HpMAK',
'00QD0000011aDZ4MAM',
'00QD000000fTzO4MAK',
'00QD0000014auZhMAI',
'00QD0000010LB6RMAW',
'00QD000000t4IQqMAM',
'00QD0000011aDGuMAM',
'00QD0000014aujHMAQ',
'00QD0000010KJvnMAG',
'00QD000000f5ZFpMAM',
'00QD0000014axq1MAA',
'00QD0000014axq2MAA',
'00QD0000012MTqJMAW',
'00QD000000fSjoaMAC',
'00QD000000hdW5WMAU',
'00QD0000011aDESMA2',
'00QD0000014auCCMAY',
'00QD0000014auniMAA',
'00QD000000fRetOMAS',
'00QD000000fRq7IMAS',
'00QD000000iGwd6MAC',
'00QD000000fTTrvMAG',
'00QD000000xSOJHMA4',
'00QD000000xhftwMAA',
'00QD000000z6oksMAA',
'00QD000000yBlP1MAK',
'00QD000000k2mdXMAQ',
'00QD000000zXGVPMA4',
'00QD0000010JWmjMAG',
'00QD0000014ay8TMAQ',
'00QD000000z4sT1MAI',
'00QD000000zaFN5MAM',
'00QD0000010n4MfMAI',
'00QD000000hdy8mMAA',
'00QD000000yLfTGMA0',
'00QD000000f5Hq8MAE',
'00QD000000xRuXNMA0',
'00QD000000fSLm6MAG',
'00QD000000zYIqQMAW',
'00QD000000zZxsvMAC',
'00QD0000010KmxBMAS',
'00QD0000010mwQjMAI',
'00QD000000xSCmRMAW',
'00QD0000010IlyNMAS',
'00QD000000hdW5mMAE',
'00QD000000fRrO6MAK',
'00QD000000z6969MAA',
'00QD000000jZfBBMA0',
'00QD0000011auXdMAI',
'00QD000000fTzmTMAS',
'00QD000000t48riMAA',
'00QD000000fTBTnMAO',
'00QD000000k2RtGMAU',
'00QD0000010JQRnMAO',
'00QD0000010mGagMAE',
'00QD0000014YWHBMA4',
'00QD000000z6mjYMAQ',
'00QD0000011a8tmMAA',
'00QD000000jbYgGMAU',
'00QD0000010JWXTMA4',
'00QD0000014ayP8MAI',
'00QD000000xSGlCMAW',
'00QD000000fSmiAMAS',
'00QD000000yBxWtMAK',
'00QD000000fTZDdMAO',
'00QD000000yKaYSMA0',
'00QD000000xS9jIMAS',
'00QD000000zZy2tMAC',
'00QD000000zZxITMA0',
'00QD000000fSsb5MAC',
'00QD0000010JQQgMAO',
'00QD0000010JQKjMAO',
'00QD000000fT9U5MAK',
'00QD0000010l0UeMAI',
'00QD0000010l4h2MAA',
'00QD0000014aylFMAQ',
'00QD0000011aDFSMA2',
'00QD000000qcxwJMAQ',
'00QD000000fTxdJMAS',
'00QD0000015E4NHMA0',
'00QD0000015FoOhMAK',
'00QD000000zZwKxMAK',
'00QD0000010Ka5jMAC',
'00QD000000wFHz3MAG',
'00QD000000xSHvYMAW',
'00QD0000010mGXwMAM',
'00QD000000z68zZMAQ',
'00QD0000011cHGPMA2',
'00QD0000010l6LSMAY',
'00QD000000fT2DRMA0',
'00QD000000zZxzOMAS',
'00QD000000z5zaiMAA',
'00QD0000011a9hdMAA',
'00QD0000012Kft5MAC',
'00QD000000vOLeXMAW',
'00QD000000zZwNUMA0',
'00QD0000013FTLDMA4',
'00QD0000010kz75MAA',
'00QD0000014aysFMAQ',
'00QD000000yvnskMAA',
'00QD000000fTMQkMAO',
'00QD000000fSn1SMAS',
'00QD000000heB2FMAU',
'00QD000000fSxPSMA0',
'00QD000000iGwdQMAS',
'00QD000000o7or2MAA',
'00QD0000012tY30MAE',
'00QD000000fT8AXMA0',
'00QD0000012KoDzMAK',
'00QD0000011cHGjMAM',
'00QD000000xSNAIMA4',
'00QD000000zaFP2MAM',
'00QD000000k21ApMAI',
'00QD000000z6poHMAQ',
'00QD000000zXFa7MAG',
'00QD0000010KIe1MAG',
'00QD000000yBie6MAC',
'00QD000000t4NyxMAE',
'00QD000000yvfNJMAY',
'00QD000000xSNc7MAG',
'00QD000000yCQa7MAG',
'00QD000000xSHU9MAO',
'00QD0000010meBtMAI',
'00QD0000011aDWCMA2',
'00QD0000010nNduMAE',
'00QD0000012KdGKMA0',
'00QD000000fTRWlMAO',
'00QD0000014apMjMAI',
'00QD0000014Zx0HMAS',
'00QD000000he3jVMAQ',
'00QD000000z6mkrMAA',
'00QD00000140SmlMAE',
'00QD0000014Y0k7MAC',
'00QD000000fTRWhMAO',
'00QD000000fTuu7MAC',
'00QD000000fTNylMAG',
'00QD000000fTNHiMAO',
'00QD000000t41R2MAI',
'00QD000000fS8myMAC',
'00QD0000012Kcl4MAC',
'00QD0000014axtgMAA',
'00QD000000z4rsCMAQ',
'00QD0000014ay6iMAA',
'00QD000000fjwvEMAQ',
'00QD000000z6oBkMAI',
'00QD000000zXGKXMA4',
'00QD000000fToHdMAK',
'00QD000000fQgD8MAK',
'00QD000000yLfNXMA0',
'00QD000000xSOQrMAO',
'00QD000000yBmLtMAK',
'00QD000000f58LYMAY',
'00QD000000xS9A5MAK',
'00QD0000010JUyZMAW',
'00QD0000015FvFoMAK',
'00QD0000015FvM7MAK',
'00QD0000010LBi1MAG',
'00QD000000iGwWmMAK',
'00QD000000hdW4JMAU',
'00QD0000011aDHsMAM',
'00QD000000zZwwWMAS',
'00QD000000zZxs1MAC',
'00QD0000010l4VQMAY',
'00QD0000010l7fCMAQ',
'00QD000000t4B0DMAU',
'00QD000000xSNVuMAO',
'00QD0000012KhHQMA0',
'00QD0000012KfbZMAS',
'00QD0000012KfL9MAK',
'00QD0000012KeqLMAS',
'00QD0000012KeCbMAK',
'00QD0000015FvG9MAK',
'00QD000000t4i9TMAQ',
'00QD0000012Kf8AMAS',
'00QD0000015FvK1MAK',
'00QD000000fTUQxMAO',
'00QD000000xSOBTMA4',
'00QD0000011aDFAMA2',
'00QD000000xSNacMAG',
'00QD000000fSHBrMAO',
'00QD000000xSE1cMAG',
'00QD0000010nNYdMAM',
'00QD0000014azhYMAQ',
'00QD000000fTBGAMA4',
'00QD000000xSOscMAG',
'00QD0000014Z3LFMA0',
'00QD00000142QgUMAU',
'00QD000000zZdvlMAC',
'00QD0000014az5TMAQ',
'00QD000000xSOp3MAG',
'00QD0000010JHHuMAO',
'00QD000000qcxqnMAA',
'00QD0000014ay6lMAA',
'00QD0000014azeSMAQ',
'00QD000000t4U4GMAU',
'00QD000000heHAKMA2',
'00QD000000xRonRMAS',
'00QD0000014az8QMAQ',
'00QD000000zXDShMAO',
'00QD000000jZu6wMAC',
'00QD000000xSNgsMAG',
'00QD0000014ay0TMAQ',
'00QD000000xSOf7MAG',
'00QD000000zXFmbMAG',
'00QD000000xSFRFMA4',
'00QD000000xS8tFMAS',
'00QD0000014ayjhMAA',
'00QD0000011aDKPMA2',
'00QD0000011aneXMAQ',
'00QD0000011anfRMAQ',
'00QD0000011cHFHMA2',
'00QD000000xS08uMAC',
'00QD0000010lrbSMAQ',
'00QD000000t4FDxMAM',
'00QD000000xjlldMAA',
'00QD0000012rkqeMAA',
'00QD000000fTvbRMAS',
'00QD000000fS16dMAC',
'00QD000000zZHVQMA4',
'00QD0000010l5waMAA',
'00QD000000xSOqhMAG',
'00QD0000011aDOoMAM',
'00QD000000fT2DUMA0',
'00QD0000010l1BqMAI',
'00QD0000012t9W0MAI',
'00QD000000fRghhMAC',
'00QD000000xS5jSMAS',
'00QD000000yKZmlMAG',
'00QD000000yKbzeMAC',
'00QD000000z695yMAA',
'00QD000000fTuzeMAC',
'00QD000000xSAJYMA4',
'00QD000000hdntjMAA',
'00QD000000t4B1rMAE',
'00QD000000zXFj9MAG',
'00QD000000t4IIfMAM',
'00QD000000zZHVVMA4',
'00QD000000pMgQ8MAK',
'00QD000000uhEshMAE',
'00QD000000hdvWwMAI',
'00QD000000fTzLVMA0',
'00QD0000011aDbfMAE',
'00QD000000z69G3MAI',
'00QD0000012t4btMAA',
'00QD000000hdjDpMAI',
'00QD0000011cH2GMAU',
'00QD0000011cGzrMAE',
'00QD0000011cH3dMAE',
'00QD0000010kzrzMAA',
'00QD000000fSIr3MAG',
'00QD0000010l12dMAA',
'00QD0000012t9flMAA',
'00QD0000011a9ZHMAY',
'00QD000000f5dtTMAQ',
'00QD0000012rJCcMAM',
'00QD000000fTGJSMA4',
'00QD000000vOLCkMAO',
'00QD000000jbJ1IMAU',
'00QD0000015F4HMMA0',
'00QD000000pMiT4MAK',
'00QD0000010mxcqMAA',
'00QD0000010kgg1MAA',
'00QD0000010If9dMAC',
'00QD0000010In00MAC',
'00QD000000yKaHFMA0',
'00QD000000lX1kQMAS',
'00QD0000011aDYyMAM',
'00QD000000t4H9eMAE',
'00QD0000010KIgeMAG',
'00QD0000011aDPrMAM',
'00QD000000vOeubMAC',
'00QD000000jZXmJMAW',
'00QD000000fSjNdMAK',
'00QD0000012rks9MAA',
'00QD00000142RiRMAU',
'00QD000000zYJUrMAO',
'00QD000000zYJPrMAO',
'00QD0000011cH3hMAE',
'00QD000000zXFfeMAG',
'00QD000000fT8KEMA0',
'00QD0000011a9HUMAY',
'00QD000000jbOlBMAU',
'00QD0000012ssX4MAI',
'00QD000000xSP6xMAG',
'00QD0000010JW4eMAG',
'00QD0000011aAYOMA2',
'00QD000000xSNLkMAO',
'00QD000000f5E0hMAE',
'00QD000000fTB1EMAW',
'00QD000000t40OzMAI',
'00QD0000010nPowMAE',
'00QD0000010lMg0MAE',
'00QD000000pMhd1MAC',
'00QD000000f5Oz8MAE',
'00QD000000yvfaKMAQ',
'00QD000000xSNkhMAG',
'00QD000000fT5o6MAC',
'00QD0000012JsAmMAK',
'00QD000000fRwvsMAC',
'00QD0000010mBr1MAE',
'00QD0000010mCKoMAM',
'00QD0000010nPyjMAE',
'00QD000000fTRkQMAW',
'00QD000000zanGoMAI',
'00QD0000010Kg98MAC',
'00QD0000014aynEMAQ',
'00QD0000014ay1mMAA',
'00QD000000fRpFsMAK',
'00QD000000rYlnXMAS',
'00QD000000xSCd9MAG',
'00QD000000xjCoqMAE',
'00QD000000z5UXYMA2',
'00QD0000015GO59MAG',
'00QD0000012s9DQMAY',
'00QD0000012KgtRMAS',
'00QD000000fT2q2MAC',
'00QD000000fRtHaMAK',
'00QD000000fRuoGMAS',
'00QD000000fRjXqMAK',
'00QD000000yBotHMAS',
'00QD000000yBkAYMA0',
'00QD000000yvfREMAY',
'00QD000000yBp2JMAS',
'00QD0000011a9boMAA',
'00QD000000zaoNaMAI',
'00QD000000z4t0pMAA',
'00QD000000zYJ5hMAG',
'00QD000000yCDmDMAW',
'00QD000000xjnz5MAA',
'00QD000000vOLOwMAO',
'00QD000000xSGuIMAW',
'00QD000000xSIDOMA4',
'00QD000000t4RAZMA2',
'00QD000000rYl6LMAS',
'00QD000000xS9SeMAK',
'00QD000000xS9lGMAS',
'00QD000000xSNkTMAW',
'00QD000000yNSuYMAW',
'00QD000000z5Mx4MAE',
'00QD000000fTxeMMAS',
'00QD000000hdUh8MAE',
'00QD0000010L20YMAS',
'00QD0000011aDMtMAM',
'00QD00000142JU3MAM',
'00QD0000012s3FpMAI'
)

ORDER BY
ISNULL(LastOutboundCall__c, '1899-01-01 00:00:00.000'), l.CreatedDate