SELECT ROW_NUMBER () OVER (PARTITION BY 1 ORDER BY DateStamp, [Company Name]) Id
	  ,case when [DateStamp] <> '' then DATEADD(day, CONVERT(int, [DateStamp]), '1899-12-31')-1 else NULL end [DateStamp]
      ,[Company Name]
      ,[Sage Code]
      ,[SF Account Id]
      ,CONVERT(int, [Pel Deal Service Type]) [Pel Deal Service Type]
      ,CONVERT(int, [Deal Length]) [Deal Length]
      ,[Full Name]
      ,[Title]
      ,[First Name]
      ,[Last Name]
      ,[PostCode]
      ,[Gen Tel]
      ,[Gen Email]
      ,case when [Sign Date] <> '' then DATEADD(day, CONVERT(int, [Sign Date]), '1899-12-31')-1 else NULL end [Sign Date]
      ,case when [Renew Date] <> '' then DATEADD(day, CONVERT(int, [Renew Date]), '1899-12-31')-1 else NULL end [Renew Date]
      ,case when [Agree To Consul] <> '' then DATEADD(day, CONVERT(int, [Agree To Consul]), '1899-12-31')-1 else NULL end [Agree To Consul]
      ,case when [Installed] <> '' then DATEADD(day, CONVERT(int, [Installed]), '1899-12-31')-1 else NULL end [Installed]
      ,case when [In Make Up] <> '' then DATEADD(day, CONVERT(int, [In Make Up]), '1899-12-31')-1 else NULL end [In Make Up]
      ,case when [First Draft To Client] <> '' then DATEADD(day, CONVERT(int, [First Draft To Client]), '1899-12-31')-1 else NULL end [First Draft To Client]
      ,case when [Sec Draft To Client] <> '' then DATEADD(day, CONVERT(int, [Sec Draft To Client]), '1899-12-31')-1 else NULL end [Sec Draft To Client]
      ,case when [Thir Draft To Client] <> '' then DATEADD(day, CONVERT(int, [Thir Draft To Client]), '1899-12-31')-1 else NULL end [Thir Draft To Client]
      ,[Call Type]
      ,CONVERT(decimal(18,2), [Deal Value]) [Deal Value]
      ,[Sector]
      ,[Segment]
  INTO SalesforceReporting..Backlog_PEL_Overdue
  FROM [SalesforceReporting].[dbo].[PEL_OVERDUE]